@import 'src/css/_variables.scss';


.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background: white;
  z-index: 10;
}

.sticky-exit-zoom {
  position:sticky;
  top: 50px;
}


.doo-stroked-price {
  text-decoration: line-through;
  opacity: 0.5;
  padding-right: 10px;
  color: $accent;
}

.doo-color-box {
  min-width:23px;
  min-height:23px;
}

.selected-image-full {
  position: relative;
  mat-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
  }
}

.selected-image{
  opacity: 0.5;
}

.qty-input {
  text-align: center;
  padding-left: 30px;
}

mat-radio-button {
  margin-right: 20px;
}

::ng-deep .mat-radio-container{
  display: none !important;
}

::ng-deep .mat-radio-checked {
  border-color: $primary !important;
  font-weight: bold;
}

::ng-deep .mat-radio-label-content {
  padding-left: 0px !important;
  width: 100%;
  text-align: center;
}

::ng-deep .mat-radio-button {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

::ng-deep .mat-radio-button:hover {
  border-color: $primary !important;
}

::ng-deep .ngxImageZoomFullContainer.ngxImageZoomLensEnabled {
  border: 2px solid $light-grey !important;
}