@import 'src/css/_variables.scss';


.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background: white;
  z-index: 10;
  img { display: block; }
}

.sticky-product-detail{
  position:fixed;
  left:65%;
  top:200px;
  bottom: 0%;
}

.sticky-product-detail-mobile{
  position:fixed;
  width: 100%;
  left:0;
  bottom: 0;
  background: white;
  padding : 10px 20px;
  .color-variant {
    display: none !important;
  }
  .size-variant {
    display: none !important;
  }
  .doo-line-promo {
    display: none !important;
  }
}

.sticky-inner-cont::-webkit-scrollbar {
  display: none;
}

.sticky-inner-cont {
  overflow-y: scroll; 
  height: 100%;
  -ms-overflow-style: none;
}

doo-bread-crumbs {
  padding: 20px 0px;
}

.sticky-exit-zoom {
  position:sticky;
  position: -webkit-sticky;
  top: 50px;
  left: 0;
}


::ng-deep .currency-label {
  font-size: 12px;
  opacity: 0.5;
}

.fav-icon {
  background: $primary;
  color:white;
  padding : 0 10px;
}


.doo-stroked-price {
  text-decoration: line-through;
  opacity: 0.5;
  padding-right: 10px;
  color: $accent;
}

.doo-add-btn{
  text-transform: uppercase;
  padding: 5px 10px;
}



  


.color-variant {
  ::ng-deep .mat-radio-container{
    display: none !important;
  }

  padding-bottom: 20px;
  padding-top : 30px;
  .color-label{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .doo-color-box {
    min-width:23px;
    min-height:23px;
    margin:2px;
    border-radius: 25px;
    box-shadow: 0.5px 0.5px 5px;
    border-style: solid;
    border-color: $lighter-grey;
    padding: 3px;
  }

  .doo-color-box:hover {
    box-shadow: 0.5px 0.5px 10px;
    transition: 300ms;
  }

  ::ng-deep .mat-radio-checked {
    .doo-color-box {
      box-shadow: 1px 1px 15px;
    }
  }
}

.size-variant {
  ::ng-deep .mat-radio-container{
    display: none !important;
  }
  
  padding-bottom: 50px;
  
  mat-radio-button {
    margin-right: 20px;
    font-size: 18px;
  }

  ::ng-deep .mat-radio-label-content:hover {
    background: $lighter-grey;
    transition: 300ms;
  }

  
  ::ng-deep .mat-radio-checked {
    font-weight: bolder;
    .mat-radio-label-content {
      border-color: $primary !important;
    }
  }
  
  ::ng-deep .mat-radio-label-content {
    padding: 10px !important;
    border-style: solid;
    border-width: 2px;
    border-color: $light-grey;
    border-radius: 2px;
    width: 100%;
    text-align: center;
  }
}
