<div *ngIf="zoomed" class="full-screen">
  <div fxLayout="row" class="sticky-exit-zoom">
    <div fxLayout="row" fxLayoutGap="20px" class="mat-headline">
      <mat-icon svgIcon="doo-arrow-left" (click)="mediaZoom(false)" class="doo-pointer" color="accent">navigate_before
      </mat-icon>
      <span class="doo-pointer doo-letter-space" (click)="mediaZoom(false)">
        Back to Product
      </span>
    </div>
  </div>

  <div *ngFor="let image of productDetails.fields.media; let i = index">
    <img class="full-width" 
    [lazyLoad]="image?.fields.file.url"
    [alt] = "image?.fields.description"
    [defaultImage]="'assets/placeholders/placeholder-1.svg'">
  </div>

</div>



<div fxLayoutAlign="start" fxLayout="column" fxLayoutGap="20px">
  <div fxLayoutAlign="space-between" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div #mediaEnd fxLayout="column" fxFlex="60">
      <div *ngFor="let image of productDetails.fields.media; let i = index">
        <img class="full-width doo-pointer-zoom" style="display: block" (click)="mediaZoom(true)"
        [lazyLoad]="image?.fields.file.url"
        [alt] = "image?.fields.description"
        [defaultImage]="'assets/placeholders/placeholder-1.svg'">
      </div>
    </div>
    <div fxLayout="column" fxFlex="35">
      <doo-bread-crumbs [productTitle]="productDetails.fields.title"></doo-bread-crumbs>
      <div fxLayout="row" fxFlex="100">
        <div #stickyProductDetail fxLayout="column" fxFlex fxLayoutAlign="end start" fxLayoutAlign.sm="end center"
          fxLayoutAlign.xs="end center"
          [ngClass]="bigScreens.includes(this.resolution) ? 'sticky-product-detail' : 'sticky-product-detail-mobile'">
          <div #stickyInnerCont fxLayout="column" class="sticky-inner-cont">
            <form [formGroup]="cartItemForm" fxLayout="column" class="full-width" style = "padding : 0px 20px;" fxLayoutAlign="start start">
              <div fxLayout="row" class="mat-title">
                {{productDetails.fields.title}}
              </div>
              <div fxLayout="row" fxLayoutGap="5px" *ngIf="productReviews" class="doo-rate-uneditable">
                <doo-review-stars [rate]="reviewsComponent.getOverallRate()" [editable]="false"></doo-review-stars>
                <span class="mat-caption">{{productReviews.length}}</span>
                <span class="mat-caption">Reviews</span>
              </div>
              <div fxLayout="row" fxLayoutAlign="center" class="mat-headline">
                <span [innerHTML]="productDetails.fields.price | pricePipe"
                  [ngClass]="productDetails.fields.discount ? 'doo-stroked-price' : ''">
                </span>
                <span [innerHTML]="productDetails.fields.discount | pricePipe" *ngIf="productDetails.fields.discount">
                </span>
              </div>
              <div fxLayout="row" fxLayoutAlign.xs="center" class="mat-caption doo-qty-input">
                <div (click)="addQty.emit()" fxLayout="column" fxLayoutAlign="center center"
                  class="minus-icon doo-pointer">
                  <mat-icon svgIcon="doo-plus"></mat-icon>
                </div>

                <mat-form-field class="qty-input">
                  <input formControlName="qty" autocomplete="qty" matInput name="qty" type="text" />

                </mat-form-field>
                <div (click)="removeQty.emit()" fxLayout="column" fxLayoutAlign="center center"
                  class="plus-icon doo-pointer">
                  <mat-icon svgIcon="doo-minus"></mat-icon>
                </div>
              </div>
              <div fxLayout="column" fxLayoutGap="10px" class="mat-body full-width color-variant"
                *ngIf="productVariants.get('color')">
                <div fxLayout="row" class="color-label">
                  {{cartItemForm.controls["color"].value}}
                </div>
                <mat-radio-group fxLayout="row" formControlName="color">
                  <mat-radio-button *ngFor="let variant of productVariants.get('color')" [value]="variant.name"
                    [checked]="variant.checked">
                    <div [ngStyle]="{'background-color': variant.code}" class="doo-color-box">
                    </div>
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div fxLayout="column" fxLayoutGap="10px" class="mat-body full-width size-variant"
                *ngIf="productVariants.get('size')">
                <div fxLayout="row">
                  {{'product.size' | translate}}:
                </div>
                <mat-radio-group fxLayout="row" formControlName="size">
                  <mat-radio-button fxFlex="30" *ngFor="let variant of productVariants.get('size')"
                    [value]="variant.name">
                    {{variant.name}}
                  </mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="cartItemForm.controls['size'].invalid && formSubmit">
                  {{'product.validations.size_required' | translate}}</mat-error>
              </div>

              <div fxLayout="row" fxLayoutGap="10px" class="full-width">
                <button #addProductBtn (click)="addProductToCart()" class="full-width doo-add-btn" color="primary" mat-flat-button
                  type="submit">
                  {{ 'cart.addToCart' | translate }}
                </button>
                <div fxLayout="column" class="fav-icon doo-pointer" fxLayoutAlign="center center">
                  <mat-icon [ngClass]="isFavorite ? 'fav-fill' : 'fav-border'" svgIcon="doo-favorite"
                    (click)="toggleFavorites(isFavorite)"></mat-icon>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [ngSwitch]="block.sys.contentType.sys.id" *ngFor="let block of productDetails?.fields.blocks">
    <doo-widgets *ngSwitchCase="'widget'" [widget]="block">
    </doo-widgets>
    <doo-block-layouts *ngSwitchCase="'block'" [block]="block">
    </doo-block-layouts>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" class="doo-reviews-cont" fxFlex.gt-xs="90" fxLayoutGap="50px" fxFlex.xs fxLayoutAlign="center">
      <div fxFlex="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon svgIcon="doo-chat">
        </mat-icon>
        <span style="font-weight: 700" class="mat-display-1 doo-letter-space">Product Reviews</span>
      </div>
      <doo-product-reviews #reviewsComponent [productReviews]="productReviews" [productDetails]="productDetails">
      </doo-product-reviews>
    </div>
  </div>
</div>