@import 'src/css/_variables.scss';


.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100px;
  overflow: auto;
  background: white;
  z-index: 20;
  img { display: block; }
}

.sticky-product-detail{
  position:fixed;
  left:65%;
  top:200px;
  bottom: 0%;
}

.sticky-product-detail-mobile{
  position:fixed;
  width: 100%;
  left:0;
  bottom: 0;
  background: white;
  padding : 10px 10px;
  .color-variant {
    display: none !important;
  }
  .size-variant {
    display: none !important;
  }
  .doo-line-promo {
    display: none !important;
  }
  .doo-rate-uneditable{
    display: none !important;
  }
  .doo-qty-input {
    display: none !important;
  }
}

.sticky-inner-cont::-webkit-scrollbar {
  display: none;
}

.sticky-inner-cont {
  overflow-y: scroll; 
  height: 100%;
  -ms-overflow-style: none;
}

doo-bread-crumbs {
  padding: 20px 0px;
}

.sticky-exit-zoom {
  position:sticky;
  position: -webkit-sticky;
  top: 100px;
  left: 0;
}


::ng-deep .currency-label {
  font-size: 12px;
  opacity: 0.5;
}


.fav-icon {
  padding : 0 10px;
  background: $primary;
  mat-icon {
    height: 20px;
    width: 20px;
  }

  .fav-border {
    ::ng-deep .cls-1 {
      stroke: white;
    }
    ::ng-deep .cls-2 {
      stroke: white;
    }
  }

  .fav-fill {
    ::ng-deep .cls-1 {
      stroke: white;
      fill: white;
    }
    ::ng-deep .cls-2 {
      stroke: white;
      fill: white;
    }
  }
}
.doo-add-btn{
  text-transform: uppercase;
  padding: 5px 10px;
}

.doo-rate-uneditable {
  padding-bottom: 10px;
  ::ng-deep .doo-rate-icon {
      padding : 2px 2px;
      height: 15px;
      width: 15px;
    } 
}

.color-variant {
  ::ng-deep .mat-radio-container{
    display: none !important;
  }

  padding-bottom: 20px;
  .color-label{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .doo-color-box {
    min-width:23px;
    min-height:23px;
    margin:2px;
    border-radius: 25px;
    box-shadow: 0.5px 0.5px 5px;
    border-style: solid;
    border-color: $lighter-grey;
    padding: 3px;
  }

  .doo-color-box:hover {
    box-shadow: 0.5px 0.5px 10px;
    transition: 300ms;
  }

  ::ng-deep .mat-radio-checked {
    .doo-color-box {
      box-shadow: 1px 1px 15px;
    }
  }
}

.size-variant {
  ::ng-deep .mat-radio-container{
    display: none !important;
  }
  
  padding-bottom: 50px;
  
  mat-radio-button {
    margin-right: 20px;
    font-size: 18px;
  }

  ::ng-deep .mat-radio-label-content:hover {
    background: $lighter-grey;
    transition: 300ms;
  }

  
  ::ng-deep .mat-radio-checked {
    font-weight: bolder;
    .mat-radio-label-content {
      border-color: $primary !important;
    }
  }
  
  ::ng-deep .mat-radio-label-content {
    padding: 10px !important;
    border-style: solid;
    border-width: 2px;
    border-color: $light-grey;
    border-radius: 2px;
    width: 100%;
    text-align: center;
  }
}

.plus-icon {
  mat-icon {
    height: 15px;
    width: 15px;
    
    ::ng-deep .cls-1 {
      stroke: $black;
    }
    ::ng-deep .cls-2 {
      stroke: $black;
    }
  }

  padding-left: 10px;
}

.minus-icon {
  mat-icon {
    height: 15px;
    width: 15px;
    
    ::ng-deep .cls-1 {
      stroke: $black;
    }
    ::ng-deep .cls-2 {
      stroke: $black;
    }
  }

  padding-right: 10px;
  opacity: 0.5;
}

.qty-input {
  text-align: center;
  padding-top: 15px;
  width:50px;
  font-weight: bold;
  ::ng-deep .mat-form-field-infix{
    background-color: $lighter-grey;
    border-style: solid;
    border-width: 1px;
    border-color: $light-grey;
  }
}
