@import 'src/css/_variables.scss';

:host {
  height: 100%;
  width: 100%;
}

.doo-stroked-price {
  text-decoration: line-through;
  opacity: 0.5;
  padding-right: 10px;
  color: $accent;
}

.doo-cart-action {
  padding-left: 20px;
}

.qty-input {
  text-align: center;
  padding-left: 30px;
  width:50px;
  ::ng-deep .mat-form-field-infix{
    background-color: $light-grey;
    border-top: 0px;
  }
}