<mat-card [formGroup]="cartItemForm" 
          style="margin: 15px;"
          class="mat-elevation-z0 doo-bottom-border"
          fxFlex fxLayout="row">
  <mat-card-content fxLayout="row"  fxLayoutAlign="space-between">
    <div fxLayout="column" fxFlex = "30" >
        <img  class = "full-width doo-pointer" 
        [src]="object?.fields.media[0].fields.file.url">
    </div>
    <div fxLayout="column" fxFlex = "65" >
      <span>
        {{name}}
      </span>
      <span [ngClass] = "object.fields.discount ? 'doo-stroked-price' : ''">
          {{object.fields.price | pricePipe}}
      </span>
      <span *ngIf = "object.fields.discount">
          {{object.fields.discount | pricePipe}}
      </span>
      <span>
        {{'product.color' | translate}}: {{object.fields.variants.color}}
      </span>
      <span>
        {{'product.size' | translate}}: {{object.fields.variants.size}}
      </span>
        <div fxLayout="row" class = "full-width">
          <span>
              {{'product.qty' | translate}} : {{object.fields.qty}}
          </span>
      </div>   
    </div>
  </mat-card-content>
</mat-card>
