<div [formGroup]="paymentMethodForm" fxLayout="row" fxLayoutAlign="center" class="doo-cart-payment">
  <div fxLayout="column" fxFlex="80" fxFlex.lt-md fxLayoutGap="20px">
    <div></div>
    <div fxLayout="row" fxLayoutAlign="center" class="mat-headline doo-letter-space">
    </div>
    <div class="doo-shipping-box doo-light-card" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <span class="mat-subheading-1 doo-letter-space">{{ 'cart.contactAndAddress' | translate }}</span>
        <div (click)="backToAddress()" class="mat-caption accent-color doo-pointer doo-underline">
          {{ 'profile.buttons.edit' | translate }}
        </div>
      </div>
      <doo-shipping-box (click)="backToAddress()" class="doo-pointer" fxFlex="50" [personalInfo]="userInfo"
        [address]="userAddressInfo" [shipping]="shippingMethod"></doo-shipping-box>
    </div>

    <form fxLayout="row" fxLayoutAlign="center" class="doo-checkout-form">
      <div fxLayout="column" fxLayoutGap="30px" fxFlex>
        <div class="mat-title doo-letter-space">
            {{ 'cart.paymentMethods' | translate }}
        </div>
        <div fxLayout="column" fxLayoutGap="10px" class="cc-form">
          <div fxLayout="row">
            <div class="field">
              <div id="card-number" class="input empty"></div>
              <label for="card-number">{{ 'cart.cardNumber' | translate }}</label>
              <div class="baseline"></div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="50" class="field">
              <div id="card-expiry" class="input empty"></div>
              <label for="card-expiry">{{ 'cart.cardExpiry' | translate }}</label>
              <div class="baseline"></div>
            </div>
            <div fxFlex="50" class="field">
              <div id="card-cvc" class="input empty"></div>
              <label for="card-cvc">{{ 'cart.cardCVV' | translate }}</label>
              <div class="baseline"></div>
            </div>
          </div>
          <mat-error *ngIf="error" [textContent]="error.message"></mat-error>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutAlign="start center"
            class="doo-letter-space">
            <div fxLayoutAlign="start center" class="doo-payment-caption mat-caption accent-color">
              <mat-icon svgIcon="doo-lock"></mat-icon>
              {{ 'cart.payWithCardDisclaimer' | translate }}
            </div>
            <div fxFlex fxLayoutAlign="end">
              <div fxLayout="row" class="accepted-cards" fxLayoutGap="10px">
                <mat-icon svgIcon="doo-visa"></mat-icon>
                <mat-icon svgIcon="doo-mastercard"></mat-icon>
                <mat-icon svgIcon="doo-amex"></mat-icon>
                <mat-icon svgIcon="doo-discover"></mat-icon>
              </div>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </form>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="15px" fxFlex.lt-md="80" fxFlex
        fxLayoutAlign="space-between">
        <button color="accent" mat-button class="doo-cta-btn" (click)="backToAddress()">
          <mat-icon class="doo-accent-icon" svgIcon="doo-arrow-left"></mat-icon>
          {{ 'cart.paymentBackBtn' | translate }}
        </button>
        <button color="primary" mat-flat-button class="doo-cta-btn" (click)="onSubmit()">
          {{ 'cart.placeOrderBtn' | translate }}
        </button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
      <mat-divider fxFlex></mat-divider>
      <div class="doo-letter-space primary-color">{{ 'cart.orDivider' | translate }}</div>
      <mat-divider fxFlex></mat-divider>
    </div>
    <div fxLayout="column" fxLayoutGap="30px" class="doo-pay-paypal">
      <div fxLayout="column" fxLayoutAlign="center center">
        <button (click)="payPalPay()" color="accent" style="padding-top: 5px;" mat-stroked-button>
          <mat-icon fxFlex="45" svgIcon="paypal" inline="true"></mat-icon>
        </button>
      </div>
      <div fxLayout="row" fxFlex fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" class="doo-letter-space">
          <div fxLayoutAlign="start center" class="doo-payment-caption mat-caption accent-color">
            <mat-icon svgIcon="doo-lock"></mat-icon>
            {{ 'cart.payWithPayPalDisclaimer' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>