
<div fxLayout = "column" fxFlex fxLayoutAlign = "center" fxLayoutGap = "20px">
    <div></div>
    <mat-accordion>
            <mat-expansion-panel [hideToggle] = "true" 
                                 (opened) = "payType = 'credit'" 
                                 (closed) = "payType = 'paypal'"
                                 [expanded] = "payType == 'credit'" 
                                 class="mat-elevation-z0">
              <mat-expansion-panel-header class = "doo-bottom-border">
                <mat-panel-title>
                    <div fxFlex = "row" fxLayoutAlign = "start center" fxLayoutGap = "10px">
                            <mat-icon color = "accent">{{payType == 'credit' ? 'check_circle_outline' : 'radio_button_unchecked'}}</mat-icon>
                            <span style = "font-weight: 700" class = "doo-letter-space">Credit / Debit Card</span>
                    </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form fxLayout = "row" fxLayoutAlign = "center" #checkout="ngForm" class="checkout">
                    <div fxLayout = "column" fxFlex>
                            <div class="cell example example2" id="example-2">
                            <div class="row">
                                    <div class="field">
                                      <div id="example2-card-number" class="input empty"></div>
                                      <label for="example2-card-number" data-tid="elements_examples.form.card_number_label">Card number</label>
                                      <div class="baseline"></div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="field half-width">
                                      <div id="example2-card-expiry" class="input empty"></div>
                                      <label for="example2-card-expiry" data-tid="elements_examples.form.card_expiry_label">Expiration</label>
                                      <div class="baseline"></div>
                                    </div>
                                    <div class="field half-width">
                                      <div id="example2-card-cvc" class="input empty"></div>
                                      <label for="example2-card-cvc" data-tid="elements_examples.form.card_cvc_label">CVC</label>
                                      <div class="baseline"></div>
                                    </div>
                                  </div>
                      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
                      </div>
                      <div fxLayout="column"  fxLayoutAlign="end" style = "padding-top: 50px;" fxFlex>
                            <button color = "primary" 
                                    mat-flat-button 
                                    class = "doo-checkout-btn"
                                    (click) = "onSubmit()">
                                    PLACE ORDER
                            </button>
                    </div>
                    </div>
    
            </form>
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle] = "true" 
                                 (opened) = "payType = 'paypal'" 
                                 (closed) = "payType = 'credit'"
                                 [expanded] = "payType == 'paypal'" 
                                 class="mat-elevation-z0">
              <mat-expansion-panel-header class = "doo-bottom-border">
                <mat-panel-title>
                        <div fxFlex = "row" fxLayoutAlign = "start center" fxLayoutGap = "10px">
                                <mat-icon color = "accent">{{payType == 'paypal' ? 'check_circle_outline' : 'radio_button_unchecked'}}</mat-icon>
                                <span style = "font-weight: 700" class = "doo-letter-space">PayPal</span>
                        </div>
                </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout = "column" fxLayoutGap = "20px">
                    <div></div>
                    <div fxLayout = "row" fxLayoutGap = "30px">
                        <div fxLayout = "column"  fxFlex = "50">
                            <span class = "mat-subheading-2">
                                Pay with PayPal no problem
                            </span>
                            <span class = "mat-caption">
                                You can add the items you want and pay using your paypal account, it will be super smooth and you will land back here.
                            </span>

                        </div>
                            <div fxLayout = "column" fxLayoutAlign = "center center">
                                    <button (click) = "payPalPay()" color = "accent" 
                                            style = "padding-top: 5px;"
                                            mat-stroked-button>
                                            <mat-icon fxFlex = "25" 
                                                    svgIcon="paypal" 
                                                    inline="true"></mat-icon>
                                    </button>
                                </div>
                    </div>
                </div>
            </mat-expansion-panel>
          </mat-accordion>


        <div fxFlex = "row" class = "mat-subheading-2 doo-letter-space">
            Order details
        </div>
</div>


