<div fxLayout="column" class="doo-table-cont" fxLayoutGap="20px">
  <span class="mat-display-1">Carts</span>
  <div fxLayout="column" class="mat-elevation-z2 doo-top-border-radius doo-bottom-border-radius">
    <div fxFlexLayout="row" class="doo-dashboard-filters doo-top-border-radius">
      <button mat-button (click)="filterCarts('all')" [class.chosenFilter]="cartFilter =='all'" class="primary-color">
        All
      </button>
      <button mat-button (click)="filterCarts('new')" [class.chosenFilter]="cartFilter =='new'" class="primary-color">
        New
      </button>
      <button mat-button (click)="filterCarts('complete')" [class.chosenFilter]="cartFilter =='complete'"
        class="primary-color">
        Reviewed
      </button>
    </div>
    <div class="doo-search-box">
      <mat-form-field appearance="outline" class="full-width">
        <span matPrefix>
          <mat-icon svgIcon="doo-search"></mat-icon>
        </span>
        <input type="text" placeholder="Filter carts" aria-label="Number" (keyup)="applyFilter($event)" matInput>
      </mat-form-field>
    </div>
    <div *ngIf="dataSource && dataSource.filteredData.length > 0" fxLayout="row" fxLayoutAlign="start center"
      class="doo-dashboard-actions">
      <mat-checkbox fxFlex="5" (change)="$event ? toggleAll($event) : null" [indeterminate]="selection.hasValue()">
      </mat-checkbox>
      <div *ngIf="selection.selected.length" fxLayout="row" class="mat-elevation-z1 doo-round-corners">
        <div class="doo-selected-label accent-color" fxLayoutGap="10px">
          <span>{{selection.selected.length}}</span> <span>Selected</span>
        </div>
        <button mat-button [matMenuTriggerFor]="menu" class="doo-actions-btn">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <span>Actions</span>
            <mat-icon svgIcon="doo-arrow-down"></mat-icon>
          </div>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="confirmDeletePopUp()">Delete selected carts</button>
      </mat-menu>
    </div>
    <div *ngIf="dataSource && dataSource.filteredData.length == 0" class="doo-dashboard-no-items" fxLayout="column"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <span>
        <mat-icon svgIcon="doo-search"></mat-icon>
      </span>
      <span class="mat-title">
        No items found
      </span>
      <div class="mat-caption doo-opacity">
        Try changing the filters or search term
      </div>
    </div>
    <div [class.doo-sticky-col-table]="!utilService.bigScreensAndSmall.includes(this.resolution)">
      <mat-table *ngIf="dataSource && dataSource.filteredData.length > 0" [dataSource]="dataSource"
        class="doo-dashboard-overview mat-elevation-z0">
        <ng-container matColumnDef="select" sticky>
          <mat-header-cell style="max-width: 30px; min-width: 30px;"  *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell style="max-width: 30px; min-width: 30px;" *matCellDef="let element">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="checkboxSelected($event,element)"
              [checked]="isSelected(element)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="id" sticky>
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
              <span>
                {{element.id}}
              </span>
              <mat-chip-list>
                <mat-chip color="primary" selected [removable]="false">Unpaid
                </mat-chip>
                <mat-chip *ngIf="element.status=='new'" color="accent" selected [removable]="false">New
                </mat-chip>
                <mat-chip *ngIf="element.status=='complete'" color="primary" selected [removable]="false">
                  Reviewed
                </mat-chip>
              </mat-chip-list>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div fxLayout="column">
              <span>{{element.name}}</span>
              <span>{{element.email}}</span>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell  *matCellDef="let element">{{element.date | date : 'longDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemCount">
          <mat-header-cell  *matHeaderCellDef></mat-header-cell>
          <mat-cell  *matCellDef="let element">{{element.itemCount}} item</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="goToCart(row.id,row.uid)" class="doo-pointer" [class.doo-opacity]="row.status!='new'"
          *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>
    <mat-paginator class="doo-bottom-border-radius" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>