  .mat-caption {
    text-decoration: underline;
  }

  .add-field-placeholder {
    opacity: 50%;
    padding-inline-start: 20px;
  }

  .manual-add-btn {
    .mat-caption {
        text-decoration: none;
        padding-left: 10px;
        font-weight: 900;
      }
  }


  button {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  