
@import 'src/css/_variables.scss';
@import 'src/css/contentful.scss';

.doo-error-form {
  padding : 0px 10px;
  
  ::ng-deep mat-icon {
    padding-right: 10px;
    height: 60px;
    width: 25px;
    font-size: 60px;
    color: $accent;
  }

  .doo-checkout-btn{
    border-radius: 25px !important;
  }
}
