<div fxLayout="column" fxLayoutAlign="center center" [fxLayoutGap]="block.fields.bottomPadding ? block.fields.bottomPadding : '0px' ">
        <div fxLayout="row" [style.width]="!utils.bigScreens.includes(this.resolution) ? '100%' : (block.fields.width? block.fields.width + '%': '100%')" fxLayout.lt-md="column">
                <div fxFlex="33.3" fxFlex.lt-md *ngFor="let block of block?.fields.blocks">
                        <doo-block-layouts [block]="block">
                        </doo-block-layouts>
                </div>
        </div>
        <div></div>
</div>