<mat-expansion-panel *ngIf="navigationItem.groupedNavRoutes"
                     [expanded]="shouldOpenGroup(navigationItem.groupedNavRoutes)"
                     class="mat-elevation-z0">
  <mat-expansion-panel-header>
    <mat-panel-title class="group-title">
      {{navigationItem.group | titlecase}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <a *ngFor="let item of navigationItem.groupedNavRoutes" [ngClass]=" isSelected(item)? 'selected' : ''"
       [routerLink]="[item.path]"
       class="sidenav-item"
       disableRipple mat-list-item>
      <div class="item-selector"></div>
<!--      <div fxFlex="100%"> {{item.data?.title}} </div>-->
      <mat-icon>{{item.icon}}</mat-icon>
    </a>
  </div>
</mat-expansion-panel>
<a *ngIf="!navigationItem.groupedNavRoutes" [ngClass]=" isSelected(navigationItem)? 'selected' : ''"
   [routerLink]="[navigationItem.path]"
   class="sidenav-item"
   disableRipple mat-list-item>
  <div class="item-selector"></div>
<!--  <div fxFlex="100%"> {{navigationItem.data?.title}} </div>-->
  <mat-icon>{{navigationItem.icon}}</mat-icon>
</a>
