@import 'src/css/_variables.scss';
@import 'src/css/_material.scss';
@import 'src/css/contentful.scss';

.doo-subscribe-form {
    padding : 40px 20px;
    background: $lighter-grey;

    ::ng-deep .mat-form-field-wrapper {
        margin: 0 0 !important;
        padding-bottom: 0em;
    }
    
    ::ng-deep .mat-form-field-outline-start {
        background: white;
      }
    
      ::ng-deep .mat-form-field-outline-end {
        background: white;
      }

}
