@import 'src/css/_variables.scss';
@import 'src/css/contentful.scss';

.doo-subscribe-form {
    padding : 40px 20px;
    background: $lighter-grey;
    .doo-contentful {
        opacity: 0.7;
    }
    ::ng-deep .mat-form-field-wrapper {
        margin: 0 0 !important;
        padding-bottom: 0em;
    }
    
    ::ng-deep .mat-form-field-outline-start {
        background: white;
      }
    
      ::ng-deep .mat-form-field-outline-end {
        background: white;
      }

    ::ng-deep .mat-form-field-infix {
        padding-top: 5px !important;
        padding-bottom: 14px !important;
        //padding-left: 10px !important;
      }
}
