@import 'src/css/_variables.scss';
@import 'src/css/contentful.scss';


.post-placeholder {
    margin:15px;
    animation-duration: .5s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes fade {
    from {
      opacity: 0.8;
    }
  
    to {
      opacity: 0.3;
    }
  }