<div fxLayout="column" [fxLayoutGap]="block.fields.bottomPadding ? block.fields.bottomPadding : '0px'"
     fxLayoutAlign="start center">
     <div fxLayout="row" fxLayoutAlign="center"
          [style.width]="!utils.bigScreens.includes(this.resolution) ? '100%' : (block.fields.width? block.fields.width + '%': '100%')">
          <div fxLayout="row" fxLayout.lt-sm="column" [fxFlex.gt-xs]="block.fields.width ? block.fields.width : 100"
               fxFlex.lt-sm
               [fxLayoutAlign]="'center' + ' ' +  (block.fields.verticalContentPosition ? block.fields.verticalContentPosition : 'start')">
               <div class="pad-20" [fxFlexOrder]="['start' , 'center'].includes(block.fields.contentPosition)  ? 1 : 2"
                    fxLayout="column" [fxFlex.gt-xs]="block.fields.textBoxWidth ? block.fields.textBoxWidth : 50" [dooBackground]="block.fields.textBackground">
                    <div *ngIf="block.fields.content" class="doo-cta-content doo-contentful" [dooFontColor]="block.fields.textColor"
                         [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                         [innerHTML]="block.fields.content | richTextPipe">
                    </div>
                    <div *ngIf="block.fields.otherContent" class="doo-cta-content doo-contentful"
                         [dooFontColor]="block.fields.otherTextColor"
                         [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                         [innerHTML]="block.fields.otherContent | richTextPipe">
                    </div>
                    <doo-actions *ngIf="block.fields.actions"
                         [fxLayoutAlign]="block.fields.actionsPosition ? block.fields.actionsPosition : 'start'"
                         fxLayoutGap="20px" fxLayout="row" [actions]="block.fields.actions"></doo-actions>

               </div>
               <div fxLayout="row" [fxFlexOrder]="['start' , 'center'].includes(block.fields.contentPosition)  ? 2 : 1"
                    [style.width]="!utils.bigScreens.includes(this.resolution) ? '100%' : (block.fields.textBoxWidth ? 100-block.fields.textBoxWidth + '%' : '50%')"
                    fxLayoutAlign="center center">
                    <img #postImg class="full-width post-placeholder"
                         [dooImgStyle]="{block : block, resolution : this.resolution}"
                         [lazyLoad]="block.fields.media[0].fields.file.url"
                         [defaultImage]="'assets/placeholders/placeholder-full-width-post.svg'"
                         (onStateChange)="myCallbackFunction($event)" />
                    <video #mainVid class="full-width" [dooImgStyle]="{block : block, resolution : this.resolution}"
                         autoplay muted loop playsinline>
                    </video>
               </div>
          </div>
     </div>
</div>