<div fxLayout = "column" [fxLayoutGap] = "block.fields.bottomPadding">
   <div fxLayout = "row" [fxLayoutAlign] = "block.fields.contentPosition">
        <div fxLayout = "row" 
             [fxFlex] = "block.fields.width" 
             fxLayout.lt-md = "column" 
             fxLayoutGap = "50px" 
             fxLayoutAlign = "center">
        <div [fxFlexOrder]="['start' , 'center'].includes(block.fields.contentPosition)  ? 2 : 1"
             [fxLayoutAlign] = "block.fields.verticalContentPosition"
             fxLayout = "column" 
             [fxFlex] = "block.fields.textBoxWidth"
             fxFlex.lt-md = "100"
             fxLayoutGap = "50px">
                        <div class = "doo-cta-content doo-contentful" 
                             [class.primary-color] = "block.fields.textColor == 'Primary'"
                             [class.accent-color] = "block.fields.textColor == 'Accent'"
                             [class.white-color] = "block.fields.textColor == 'White'"
                             [class.black-color] = "block.fields.textColor == 'Black'"  
                             [style.text-align] = "block.fields.textAlign"
                        [innerHTML] = "block.fields.content | richTextPipe">
                        </div>
                        <div [fxLayoutAlign] = "block.fields.actionsPosition" fxLayoutGap = "20px">
                             <div *ngFor = "let cta of block.fields.actions">
                                        <div [ngSwitch]="cta.fields.appearence">
                                                        <button *ngSwitchCase="'flat'" 
                                                        color = "primary" 
                                                        (click) = "navService.ctaClick(cta.fields.action)"
                                                        mat-flat-button 
                                                        class = "doo-cta-btn">
                                                        {{cta.fields.name}}
                                                        </button> 
                                                        <button *ngSwitchCase="'stroked'" 
                                                        color = "primary" 
                                                        (click) = "navService.ctaClick(cta.fields.action)"
                                                        mat-stroked-button 
                                                        class = "doo-cta-btn">
                                                        {{cta.fields.name}}
                                                        </button>
                                                        <button *ngSwitchCase="'arrow'" 
                                                        color = "primary" 
                                                        (click) = "navService.ctaClick(cta.fields.action)"
                                                        mat-stroked-button 
                                                        class = "doo-cta-btn">
                                                        {{cta.fields.name}}
                                                        <mat-icon  svgIcon="doo-arrow-right"></mat-icon>
                                                        </button>    
                                                        <button *ngSwitchCase="'rasied'" 
                                                        color = "primary" 
                                                        (click) = "navService.ctaClick(cta.fields.action)"
                                                        mat-rasied-button 
                                                        class = "doo-cta-btn">
                                                        {{cta.fields.name}}
                                                        </button>                                               
                                        </div>
                             </div>
                        </div>

        </div>
        <div [fxFlex] = "100-block.fields.textBoxWidth" 
             fxFlex.lt-md = "100"
             [fxFlexOrder]="['start' , 'center'].includes(block.fields.contentPosition)  ? 1 : 2">
        <img  *ngIf = "block.fields.media[0].fields.file.details.image"
              class = "full-width doo-pointer" 
              [src]="block.fields.media[0].fields.file.url">
        <video  #mainVid 
              *ngIf = "!block.fields.media[0].fields.file.details.image" 
              [src] = "block.fields.media[0].fields.file.url" 
              autoplay 
              muted 
              loop
              playsinline 
              style = "width: 100%;display: block;">
       </video> 
        </div>
             
        </div>
  </div>
        <div></div>
</div>
