<div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" [fxFlex.gt-xs]="block.fields.width ? block.fields.width : 100" fxFlex.lt-sm
                [fxLayoutGap]="block.fields.bottomPadding ? block.fields.bottomPadding : '0px'">
                <div fxLayout="row"
                        [fxLayoutAlign]="block.fields.contentPosition? block.fields.contentPosition : 'center'"
                        [dooBackground]="block.fields.textBackground">
                        <div fxLayout="column" [fxFlex]="block.fields.textBoxWidth" fxFlex.lt-md="100"
                                style="padding:20px">
                                <div class="doo-cta-content doo-contentful"
                                        [class.wrap-left]="['start' , 'center'].includes(block.fields.contentPosition)"
                                        [class.wrap-right]="['end'].includes(block.fields.contentPosition)"
                                        [dooFontColor]="block.fields.textColor"
                                        [style.text-align]="block.fields.textAlign"
                                        [innerHTML]="block.fields.content | richTextPipe">
                                </div>
                                <div class="doo-cta-content doo-contentful"
                                        [class.wrap-left]="['start' , 'center'].includes(block.fields.contentPosition)"
                                        [class.wrap-right]="['end'].includes(block.fields.contentPosition)"
                                        [dooFontColor]="block.fields.otherTextColor"
                                        [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                                        [innerHTML]="block.fields.otherContent | richTextPipe">
                                </div>
                                <doo-actions
                                        [fxLayoutAlign]="block.fields.actionsPosition ? block.fields.actionsPosition : 'start'"
                                        fxLayoutGap="20px" fxLayout="row" [actions]="block.fields.actions">
                                </doo-actions>

                        </div>
                </div>
        </div>
</div>