@import 'src/css/_variables.scss';
@import 'src/css/contentful.scss';

.doo-overlay-box{
    position:absolute;
    //text-align: center;
    color:white;
}

.mat-display-3{
    font-weight: 900;
    letter-spacing: 4px;
    color: white;
}

.post-placeholder {
    margin:15px;
    animation-duration: 1.5s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .crop {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.crop img {
    width: 200%;
    height: auto;
    margin: 0 0 0 0;
}
  
  @keyframes fade {
    from {
      opacity: 0.5;
    }
  
    to {
      opacity: 0.2;
    }
  }