<div fxLayout = "column" 
    [fxLayoutGap] = "block.fields.layout.fields.bottomGap + 'px'" 
    [fxLayoutGap.xs] = "block.fields.layout.fields.bottomGap/2 + 'px'">
    <div fxLayout = "row" style = "position:relative;" fxLayoutAlign = "center center">
        <div *ngIf = "imgLoaded" 
            fxLayout = "row"
            [fxFlex] = "block.fields.layout.fields.width"
            fxLayoutGap = "30px" 
            class = "doo-overlay-box full-width doo-contentful" 
            [fxLayoutAlign] = "block.fields.layout.fields.direction">
            <div></div>
                <div fxFlexLayout = "column" 
                    [fxFlex] = "['start' , 'end'].includes(block.fields.layout.fields.direction)  ? 35 : 80"
                    fxFlex.sm = "80"
                    fxFlex.xs = "100"
                    class = "doo-cta-content">
            
                        <div style = "text-align: center" [innerHTML] = "block.fields.content | richTextPipe">
                        </div>
                                <div fxLayoutAlign = "center" fxLayoutGap = "20px">
                                    <button *ngFor = "let cta of block.fields.actions" 
                                                color = "primary" 
                                                mat-flat-button 
                                                (click) = "navService.ctaClick(cta.fields.action)"
                                                class = "doo-cta-btn">
                                                {{cta.fields.name}}
                                        </button>
                                </div>
                </div>
                <div></div>
        </div>
        <div fxLayout = "row" 
            [fxFlex] = "block.fields.layout.fields.width" 
            fxLayoutAlign = "center" 
            [ngClass] = "bigScreens.includes(this.resolution) ? '' : 'crop'">
                <img #postImg *ngIf = "block.fields.media[0].fields.file.details.image"   
                    class = "full-width post-placeholder"
                    style = "object-fit: cover;height: 100%;"
                    [lazyLoad]="block.fields.media[0].fields.file.url"
                    [defaultImage]="'assets/placeholders/placeholder-full-width-post.svg'"
                    (onStateChange)="myCallbackFunction($event)">
                <video  #mainVid *ngIf = "!block.fields.media[0].fields.file.details.image" 
                       [src] = "block.fields.media[0].fields.file.url" 
                       autoplay 
                       muted 
                       loop
                       playsinline 
                       class = "full-width"
                       (loadeddata) = "loadComplete()">
                </video>
        </div>
    </div>
    <div></div>
</div>