<div fxLayout="column" [fxLayoutGap]="block.fields.bottomPadding ? block.fields.bottomPadding : '0px'">
    <div fxLayout="row" style="position:relative;"
        [fxLayoutAlign]="'center' + ' ' +  (block.fields.verticalContentPosition ? block.fields.verticalContentPosition : 'start')">
        <div *ngIf="imgLoaded" fxLayout="row" [fxFlex.gt-sm]="block.fields.width ? block.fields.width : 100"
            fxFlex.lt-md class="doo-overlay-box doo-contentful"
            [fxLayoutAlign]="block.fields.contentPosition ? block.fields.contentPosition : 'start'">
            <div></div>
            <div fxFlexLayout="column" [fxFlex]="block.fields.textBoxWidth ? block.fields.textBoxWidth : 100"
                fxFlex.lt-md [dooBackground]="block.fields.textBackground" style="padding:20px">
                <div [dooFontColor]="block.fields.textColor" [dooFontShadow]="block.fields.contentShadow"
                    [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                    [innerHTML]="block.fields.content | richTextPipe">
                </div>
                <div class="doo-cta-content doo-contentful" [dooFontColor]="block.fields.otherTextColor"
                    [dooFontShadow]="block.fields.otherContentShadow"
                    [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                    [innerHTML]="block.fields.otherContent | richTextPipe">
                </div>
                <doo-actions [fxLayoutAlign]="block.fields.actionsPosition ? block.fields.actionsPosition : 'start'"
                    [actions]="block.fields.actions" [resolution]="resolution"
                    [stacked]="block.fields.mobileStackActions"></doo-actions>

            </div>
            <div></div>
        </div>
        <div fxLayout="column" fxFlex
            fxLayoutAlign="center center">
            <img #postImg class="full-width post-placeholder"
                [dooImgStyle]="{block : block, resolution : this.resolution}"
                [lazyLoad]="block.fields.media ? block.fields.media[0].fields.file.url : ''"
                [defaultImage]="'assets/placeholders/placeholder-full-width-post.svg'"
                (onStateChange)="myCallbackFunction($event)">
            <video #mainVid class="full-width" [dooImgStyle]="{block : block, resolution : this.resolution}" autoplay
                muted loop playsinline>
            </video>
        </div>
    </div>
</div>