<div fxLayout="column" [fxLayoutGap]="block.fields.bottomPadding ? block.fields.bottomPadding : '0px'">
    <div fxLayout="row" style="position:relative;"
        [fxLayoutAlign]="'center' + ' ' +  (block.fields.verticalContentPosition ? block.fields.verticalContentPosition : 'start')">
        <div *ngIf="imgLoaded" fxLayout="row" [fxFlex.gt-sm]="block.fields.width ? block.fields.width : 100"
            fxFlex.lt-md class="doo-overlay-box doo-contentful"
            [fxLayoutAlign]="block.fields.contentPosition ? block.fields.contentPosition : 'start'">
            <div></div>
            <div fxFlexLayout="column" [fxFlex]="block.fields.textBoxWidth ? block.fields.textBoxWidth : 100"
                fxFlex.lt-md [class.primary-background]="block.fields.textBackground == 'Primary'"
                [class.accent-background]="block.fields.textBackground == 'Accent'"
                [class.white-background]="block.fields.textBackground == 'White'"
                [class.black-background]="block.fields.textBackground == 'Black'" style="padding:20px">
                <div [class.primary-color]="block.fields.textColor == 'Primary'"
                    [class.accent-color]="block.fields.textColor == 'Accent'"
                    [class.white-color]="block.fields.textColor == 'White'"
                    [class.black-color]="block.fields.textColor == 'Black'"
                    [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                    [innerHTML]="block.fields.content | richTextPipe">
                </div>
                <div class="doo-cta-content doo-contentful"
                    [class.primary-color]="block.fields.otherTextColor == 'Primary'"
                    [class.accent-color]="block.fields.otherTextColor == 'Accent'"
                    [class.white-color]="block.fields.otherTextColor == 'White'"
                    [class.black-color]="block.fields.otherTextColor == 'Black'"
                    [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                    [innerHTML]="block.fields.otherContent | richTextPipe">
                </div>
                <doo-actions [fxLayoutAlign]="block.fields.actionsPosition ? block.fields.actionsPosition : 'start'"
                    [actions]="block.fields.actions" [resolution]="resolution"
                    [stacked]="block.fields.mobileStackActions"></doo-actions>

            </div>
            <div></div>
        </div>
        <div fxLayout="column" [fxFlex]="block.fields.width ? block.fields.width : 100" fxFlex.lt-sm fxLayoutAlign="center center"
            [ngClass]="utils.bigScreens.includes(this.resolution) ? '' : 'crop'">
            <img #postImg *ngIf="block.fields.media[0].fields.file.details.image" class="full-width post-placeholder"
                [style.width]="utils.bigScreens.includes(this.resolution) ? '100%' : (block.fields.mobileMediaWidth ? block.fields.mobileMediaWidth : '100%')"
                [style.padding-left]="utils.bigScreens.includes(this.resolution) ? '0px' : (block.fields.mobileMediaLeftPadding ? block.fields.mobileMediaLeftPadding : '0px')"
                [style.padding-right]="utils.bigScreens.includes(this.resolution) ? '0px' : (block.fields.mobileMediaRightPadding ? block.fields.mobileMediaRightPadding : '0px')"
                [lazyLoad]="block.fields.media[0].fields.file.url" [alt]="block.fields.media[0].fields.description"
                [defaultImage]="'assets/placeholders/placeholder-full-width-post.svg'"
                (onStateChange)="myCallbackFunction($event)">
            <video #mainVid *ngIf="!block.fields.media[0].fields.file.details.image"
                [style.width]="utils.bigScreens.includes(this.resolution) ? '100%' : (block.fields.mobileMediaWidth ? block.fields.mobileMediaWidth : '100%')"
                [style.padding-left]="utils.bigScreens.includes(this.resolution) ? '0px' : (block.fields.mobileMediaLeftPadding ? block.fields.mobileMediaLeftPadding : '0px')"
                [style.padding-right]="utils.bigScreens.includes(this.resolution) ? '0px' : (block.fields.mobileMediaRightPadding ? block.fields.mobileMediaRightPadding : '0px')"
                [src]="block.fields.media[0].fields.file.url" autoplay muted loop playsinline class="full-width">
            </video>
        </div>
    </div>
    <div></div>
</div>