<div class="doo-contentful" fxLayout="column" fxLayoutAlign="center center"
        [fxLayoutGap]="block.fields.bottomPadding ? block.fields.bottomPadding : '0px' ">
        <div *ngIf = "block.fields.content || block.fields.otherContent" fxLayout="row" fxLayoutAlign="center">
                <div fxFlexLayout="column" [fxFlex]="block.fields.textBoxWidth ? block.fields.textBoxWidth : 100"
                        fxFlex.lt-md [class.primary-background]="block.fields.textBackground == 'Primary'"
                        [class.accent-background]="block.fields.textBackground == 'Accent'"
                        [class.white-background]="block.fields.textBackground == 'White'"
                        [class.black-background]="block.fields.textBackground == 'Black'" style="padding:20px">
                        <div *ngIf = "block.fields.content" [class.primary-color]="block.fields.textColor == 'Primary'"
                                [class.accent-color]="block.fields.textColor == 'Accent'"
                                [class.white-color]="block.fields.textColor == 'White'"
                                [class.black-color]="block.fields.textColor == 'Black'"
                                [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                                [innerHTML]="block.fields.content | richTextPipe">
                        </div>
                        <div *ngIf = "block.fields.otherContent" class="doo-cta-content doo-contentful"
                                [class.primary-color]="block.fields.otherTextColor == 'Primary'"
                                [class.accent-color]="block.fields.otherTextColor == 'Accent'"
                                [class.white-color]="block.fields.otherTextColor == 'White'"
                                [class.black-color]="block.fields.otherTextColor == 'Black'"
                                [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                                [innerHTML]="block.fields.otherContent | richTextPipe">
                        </div>
                        <doo-actions
                                [fxLayoutAlign]="block.fields.actionsPosition ? block.fields.actionsPosition : 'start'"
                                [actions]="block.fields.actions" [resolution]="resolution"
                                [stacked]="block.fields.mobileStackActions"></doo-actions>

                </div>
        </div>
        <div fxLayout="row"
                [style.width]="!utils.bigScreens.includes(this.resolution) ? '100%' : (block.fields.width? block.fields.width + '%': '100%')"
                fxLayout.lt-md="column">
                <div fxFlex="50" fxFlex.lt-md *ngFor="let block of block?.fields.blocks">
                        <doo-block-layouts [block]="block">
                        </doo-block-layouts>
                </div>
        </div>
        <div></div>
</div>