@import 'src/css/_variables.scss';



.doo-crumbs {
    font-size: 12px;
    //overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    //height: 100%;
    padding-left: 10px;
    padding-top: 10px;
    -ms-overflow-style: none;
}



