
<div fxLayout="row" fxLayout.xs = "column" *ngIf = "cart" fxLayoutAlign="space-between" class = "full-width" style="padding: 2% 5%;"> 
    <div fxLayout="column" fxFlex = "65">
        <div fxLayout = "row" fxLayoutAlign = "space-between" class = "doo-bottom-border">
            <div fxLayout="column">
                        <div fxLayout="row" 
                             class = "mat-subheading-1">
                            <mat-icon  class = "doo-pointer"
                                       color = "accent">navigate_before</mat-icon>
                                    <span class = "doo-pointer">
                                        {{'cart.continueShopping' | translate}}
                                    </span>
                        </div> 
                        <h1 class = "mat-h1">
                            {{'cart.successTitle' | translate}}
                        </h1>
            </div>
          
        </div>

        <div fxLayout="column">
            <div fxLayout = "row" fxLayoutAlign = "center">
                <div fxLayout = "column" fxLayoutAlign = "center" fxLayoutGap="20px">
                    <div>
            
                    </div>
                    <div fxLayout = "column" class = "doo-order-summary" fxLayoutGap="20px">
                        <div >
                            Order: <span class = "doo-order-number">{{route.snapshot.params["order"]}}</span>
                        </div> 
                        
                        <div>
                            {{'cart.successContent' | translate}}
                        </div>
                        <div fxLayout = "row" fxLayoutAlign = "space-between">
                            <button color = "primary" 
                                    mat-flat-button 
                                    style = "padding:10px 30px;"
                                    class = "doo-checkout-btn">
                                    Track Your Order
                            </button> 
                        </div>
                    </div>
                    <div fxLayout = "column">
                            <mat-grid-list [cols]="cols | async">
                                    <mat-grid-tile *ngFor="let card of cartItemsCards"
                                                [colspan]="card.input.cols.value | async"
                                                [rowspan]="card.input.rows.value | async">
                                    </mat-grid-tile>
                                </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxFlex = "30">

    <div fxLayout="column"  class = "doo-cart-summary-box">
        <div fxLayout="column" class = "doo-bottom-border">
                <span class = "mat-subheading-2 doo-bottom-border doo-letter-space">
                        {{'cart.orderSummary' | translate}}
                </span>
                <div fxLayout="row" class = "mat-subheading-1" fxLayoutAlign="space-between">
                    <span class = "doo-letter-space">{{'cart.subtotal' | translate}}</span>
                    <span [innerHTML] = "cart.cart.total | pricePipe"> 
                    </span>
                </div>
                <div fxLayout="row" class = "mat-subheading-1" style = "margin: 0 0;" fxLayoutAlign="space-between">
                    <span class = "doo-letter-space">{{'cart.shippingTitle' | translate}}</span>
                    <span> 
                        FREE
                    </span>
                </div>
                
                <span class = "mat-caption doo-letter-space" style = "padding-top: 20px;padding-bottom:5px">
                  Shipping Address
                </span>
                <span class = "mat-caption doo-letter-space" style = "opacity: 0.5;">
                    {{cart.personalInfo.firstName}} {{cart.personalInfo.lastName}}
                </span>
                <span class = "mat-caption doo-letter-space" style = "opacity: 0.5;">
                    {{cart.shipping.addressLine1}}
                </span>
                <span class = "mat-caption doo-letter-space" style = "opacity: 0.5;">
                    {{cart.shipping.addressLine2}}
                </span>
                <span class = "mat-caption doo-letter-space" style = "opacity: 0.5;">
                    {{cart.shipping.city}},{{cart.shipping.province}} {{cart.shipping.postal}}
                </span>

        </div>
                <div fxLayout="row" class = "mat-subheading-2" fxLayoutAlign="space-between" style = "padding: 15px 0px;">
                    <span class = "doo-letter-space">TOTAL</span>
                    <span [innerHTML] = "cart.cart.total | pricePipe"> 
                    </span>
                </div>
         
                <div fxLayout="column"  fxLayoutAlign="end" style = "padding-top: 50px;" fxFlex>
                        <button color = "primary" 
                                mat-stroked-button 
                                class = "doo-checkout-btn">
                                SUCCESS
                        </button>
                </div>
       </div> 
       <div fxLayout="row" fxLayoutAlign="center" fxFlex class = "mat-caption caption-cont">
           <span>
                Need help ? Call 1-888-1234-4567
           </span>
        </div>
    </div>
</div>




























