<div fxLayout="column" class="doo-table-cont" fxLayoutGap="20px">
  <span class="mat-display-1">Customers</span>

  <div fxLayout="column" class="mat-elevation-z2 doo-top-border-radius doo-bottom-border-radius">
    <div fxFlexLayout="row" class="doo-dashboard-filters doo-top-border-radius">
      <button mat-button (click)="filterCustomer('all')" [class.chosenFilter]="customerFilter =='all'"
        class="primary-color">
        All
      </button>
      <button mat-button (click)="filterCustomer('registered')" [class.chosenFilter]="customerFilter =='registered'"
        class="primary-color">
        Registered
      </button>
      <button mat-button (click)="filterCustomer('guest')" [class.chosenFilter]="customerFilter =='guest'"
        class="primary-color">
        Guest Users
      </button>
    </div>
    <div class="doo-search-box">
      <mat-form-field appearance="outline" class="full-width">
        <span matPrefix>
          <mat-icon svgIcon="doo-search"></mat-icon>
        </span>
        <input type="text" placeholder="Filter customers" aria-label="Number" (keyup)="applyFilter($event)" matInput>
      </mat-form-field>
    </div>
    <div *ngIf="dataSource && dataSource.filteredData.length == 0" class="doo-dashboard-no-items" fxLayout="column"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <span>
        <mat-icon svgIcon="doo-search"></mat-icon>
      </span>
      <span class="mat-title">
        No items found
      </span>
      <div class="mat-caption doo-opacity">
        Try changing the filters or search term
      </div>
    </div>
    <div [class.doo-sticky-col-table]="!utilService.bigScreensAndSmall.includes(this.resolution)">
      <mat-table *ngIf="dataSource && dataSource.filteredData.length > 0" [dataSource]="dataSource"
        class="doo-dashboard-overview mat-elevation-z0">
        <ng-container matColumnDef="select">
          <mat-header-cell fxFlex="10" *matHeaderCellDef>

          </mat-header-cell>
          <mat-cell fxFlex="10" *matCellDef="let element">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="checkboxSelected($event,element)"
              [checked]="isSelected(element)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div fxLayout="column">
              <span>{{element.name}}</span>
              <span>{{element.email}}</span>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="orders">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.orders}} orders</mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell fxLayout="row" fxLayoutGap="10px" *matCellDef="let element">
            <span [innerHTML]="element.total | pricePipe"></span>
            <span>spent</span></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="goToCustomer(row.id)" class="doo-pointer" *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>
    <mat-paginator class="doo-bottom-border-radius" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>