<mat-card class="mat-elevation-z0"
          fxFlex fxLayout="row" >
  <mat-card-content fxLayout="row"  fxLayout.xs = "column" fxLayoutAlign="space-between"  class = "doo-bottom-border">
    <div fxLayout="column" fxFlex fxFlex.lg = "7" >
        <div fxFlex>
            <img  class = "full-width doo-pointer" 
            [src]="object?.thumbnail">
          </div>
    </div>
    <div fxLayout="column" fxFlex = "55" >
      <span>
        {{name}}
      </span> 
      <span class = "mat-caption" class = "doo-product-id">
          Product ID : {{object.product_id}}
        </span>
    </div>
    <div fxLayout="column" fxFlex = "30" >
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap = "10px">
        <span>
            {{object.qty}}  
        </span>
        <span>
            X 
        </span>
        <span [innerHTML] = "object.price | pricePipe">

        </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
