
        <button mat-button (click)="filtersOpen = !filtersOpen" class = "doo-filters-btn">
                <div fxLayout = "column" fxLayoutAlign = "center center">
                    <span>HIDE FILTERS</span>
                    <mat-icon svgIcon="doo-filters"></mat-icon>
                </div>
              </button>
     <mat-sidenav-container style = "padding-top: 5%;">
          <mat-sidenav [opened]="filtersOpen" 
                       [mode]="navMode" 
                        style = "padding-top: 2%;"
                        position = "start"
                        [ngClass] = "this.bigScreens.includes(this.resolution) ? 'doo-nav-filters' : 'doo-nav-filters-mobile'">
                        <div fxLayout= "row">
                            <div fxLayout= "column" fxFlex = "100" >
                              <div fxLayout= "column" fxLayoutAlign = "start start" class = "doo-bottom-border">
                                  <div class = "mat-headline">Account Menu</div>
                                  <button mat-button [routerLink] = "'overview'" (click) = "filtersOpen = !filtersOpen">
                                      <span class = "mat-subheading-1">
                                          Overview
                                      </span>
                                      </button>
                                      <button mat-button [routerLink] = "'profile'" (click) = "filtersOpen = !filtersOpen">
                                        <span class = "mat-subheading-1">
                                            Profile
                                        </span>
                                      </button>
                                      <button mat-button [routerLink] = "'addressinfo'" (click) = "filtersOpen = !filtersOpen">
                                          <span class = "mat-subheading-1">
                                              Addresses
                                          </span>
                                        </button>
                                        <button mat-button [routerLink] = "'favorites'" (click) = "filtersOpen = !filtersOpen">
                                            <span class = "mat-subheading-1">
                                                Favorites
                                            </span>
                                        </button>
                                       <button mat-button [routerLink] = "'orders'" (click) = "filtersOpen = !filtersOpen">
                                            <span class = "mat-subheading-1">
                                                Orders
                                            </span>
                                        </button>
                              </div>

                                <button mat-button (click)="logout()">
                                    <span class = "mat-caption">
                                        Logout
                                    </span>
                                  </button>
                          </div>
                        </div>
          </mat-sidenav>
          <mat-sidenav-content>
          <div fxLayout= "column" fxFlex = "100">

              <router-outlet></router-outlet>
          </div>
          </mat-sidenav-content>
        </mat-sidenav-container>

