
@import '~@angular/material/theming';
@import 'src/css/_variables.scss';

mat-sidenav-container {
    min-height: 500px;
    background-color: white;
}

mat-sidenav-content {
    background-color: white;
    border: none;
    padding-right: 10%;
    padding-left: 10%;
}

.mat-drawer-side{
    border: none;
}

.doo-nav-filters {
    padding-left: 10%;
    width: 20%;
}

.doo-nav-filters-mobile {
    padding-left: 5%;
    padding-right: 5%;
    width: 80%;
}
