
<mat-form-field appearance="outline" class="full-width address-autocomplete-field">
                <span matPrefix>
                        <mat-icon>search</mat-icon>
                </span>
                        <input formControlName="address" 
                               autocomplete="address" 
                               matInput 
                               name="address" 
                               placeholder="{{ 'profile.address.addressSearch' | translate }}"
                               type="text"
                               #addresstext>                       
</mat-form-field>
        