@import 'src/css/_variables.scss';

.doo-carousel {
    //padding-left: 10%;
    //padding-right: 10%;
    width : 100%;
    ::ng-deep doo-product-card-fashion-layout {
        //height: 580px;
    }
}



.carousel-cont{
    position: relative;
    height: 100%;

    .doo-arrow-cont {
        position: absolute;
        top: 30%;
        .doo-carousel-arrow {
            padding : 80px 20px;
            z-index: 10;
            background: $light-grey;
            opacity: 0.5;
            ::ng-deep .cls-1 {
                stroke: $primary;
              }
              ::ng-deep .cls-2 {
                stroke: $primary;
              }
        }
    }
}