@import 'src/css/_variables.scss';

.doo-menu-link {
    padding: 10px 30px;
    letter-spacing: 2px;
    color : $accent;
}

.doo-sub-item {
    border-bottom: solid;
    border-width: 2px;
    border-color: $lighter-grey;
    border-radius: 0%;
    mat-panel-title {
        font-size: 16px !important;
        letter-spacing: 2px;
    }
}


.doo-root-item{
    
        border-bottom: solid;
        border-width: 2px;
        border-color: $lighter-grey;
        border-radius: 0%;

    ::ng-deep .mat-expansion-panel-body {
                padding: 0 0 0;
    }
    .mat-expansion-panel-header[aria-disabled=true] {
    color:$accent;
    }

    mat-panel-title {
        font-size: 20px;
        letter-spacing: 4px;
        font-weight: 100;
        text-transform: uppercase;
    }
}

.doo-search-box {

    mat-icon {
      padding-right: 10px;
      height: 20px;
      width: 20px;
      
      ::ng-deep .cls-1 {
        stroke: $primary;
      }
      ::ng-deep .cls-2 {
        stroke: $primary;
      }
    }
    ::ng-deep .mat-form-field-outline-start {
      border-top-left-radius: 35px !important;
      border-bottom-left-radius: 35px !important;
      min-width: 25px !important;
      background: $lighter-grey;
    }
  
    ::ng-deep .mat-form-field-outline-end {
      border-top-right-radius: 35px !important;
      border-bottom-right-radius: 35px !important;
      background: $lighter-grey;
    }
  
    ::ng-deep .mat-form-field-flex {
      padding-left: 25px !important;
    }
  
    ::ng-deep .mat-form-field-infix {
      padding-top: 5px !important;
      padding-bottom: 10px !important;
      padding-left: 10px !important;
    }
  
    ::ng-deep .mat-form-field-wrapper {
      padding-bottom : 0px !important;
      //margin : 0px !important;
    }
  }