@import 'src/css/_variables.scss';

:host {
  height: 100%;
  width: 100%;
}

.fav-icon {
  padding : 0 10px;
  background: $primary;
  mat-icon {
    height: 20px;
    width: 20px;
  }

  .fav-border {
    ::ng-deep .cls-1 {
      stroke: white;
    }
    ::ng-deep .cls-2 {
      stroke: white;
    }
  }

  .fav-fill {
    ::ng-deep .cls-1 {
      stroke: white;
      fill: white;
    }
    ::ng-deep .cls-2 {
      stroke: white;
      fill: white;
    }
  }
}

.color-variant {
  ::ng-deep .mat-radio-container{
    display: none !important;
  }

  padding-bottom: 20px;
  .color-label{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .doo-color-box {
    min-width:23px;
    min-height:23px;
    margin:2px;
    border-radius: 25px;
    box-shadow: 0.5px 0.5px 5px;
    border-style: solid;
    border-color: $lighter-grey;
    padding: 3px;
  }

  .doo-color-box:hover {
    box-shadow: 0.5px 0.5px 10px;
    transition: 300ms;
    min-width:35px;
    min-height:35px;
  }

  ::ng-deep .mat-radio-checked {
    .doo-color-box {
      min-width:35px;
      min-height:35px;
      box-shadow: 1px 1px 15px $accent;
    }
  }
}