@import 'src/css/_variables.scss';

:host {
  height: 100%;
  width: 100%;
}

.doo-stroked-price {
  text-decoration: line-through;
  opacity: 50%;
  padding-right: 10px;
  color: $accent;
}

.doo-checkout-btn {
  font-size: 12px;
  padding : 5px 5px;
  letter-spacing: 2px;
}

::ng-deep .currency-label {
  font-size: 12px;
  opacity: 70%;
}

.doo-color-box {
  min-width:23px;
  min-height:23px;
}

.doo-cart-summary-box {
  background-color: $lighter-grey;
  padding: 40px 20px 20px 20px;
}

.qty-input {
  text-align: center;
  padding-left: 30px;
}

.need-help-cont{
  padding-top: 20px;
  letter-spacing: 2px;
}

mat-radio-button {
  margin-right: 20px;
}

::ng-deep .mat-radio-container{
  display: none !important;
}

::ng-deep .mat-radio-checked {
  border-color: $primary !important;
  font-weight: bold;
}

::ng-deep .mat-radio-label-content {
  padding-left: 0px !important;
  width: 100%;
  text-align: center;
}

::ng-deep .mat-radio-button {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

::ng-deep .mat-radio-button:hover {
  border-color: $primary !important;
}

::ng-deep .my-style .mat-form-field-wrapper {
  padding-bottom: 0em;
}

.promo-form {
  padding : 10px 0px;
  ::ng-deep .mat-form-field-wrapper {
    margin: 0 0 !important;
    padding-bottom: 0em;
  }
}
