
@import '~@angular/material/theming';
@import 'src/css/_variables.scss';
  
  .add-field-placeholder {
    opacity: 0.5;
    padding-inline-start: 20px;
  }
  ::ng-deep  .phone-field {
      .mat-form-field-prefix {
        top : 0em !important;
        opacity: 0.5;
      }
    }
  
  .mat-caption {
    text-decoration: underline;
  }

  