
                  <div fxLayout = "column"
                       fxLayoutGap = "20px"
                       fxLayoutAlign="space-between">
                    <div fxLayout = "row" fxLayoutAlign="center center" class = "nav-cart-title">
                        <span class = "mat-subheading-1">
                            {{'cart.shoppingList' | translate}} ({{cartItemCount}})
                        </span>
                    </div>
                    <div style = "height: 400px;overflow: scroll;"  fxLayout = "column">
                            <doo-cart-items [cartItems] = "cartItems"></doo-cart-items>
                    </div>
                    <div fxLayout = "row" fxLayoutAlign="center center">
                    <button color="primary" class = "doo-checkout-btn" mat-flat-button fxFlex = "80" (click) = "goToCart()">
                        {{'cart.checkout' | translate}}
                      </button>
                    </div>
                  </div>