@import 'src/css/_variables.scss';

:host {
  height: 100%;
  width: 100%;
}

.doo-checkout-btn {
  font-size: 12px;
  padding : 5px 5px;
  letter-spacing: 2px;
}

::ng-deep .currency-label {
  font-size: 12px;
  opacity: 0.5;
}

.doo-color-box {
  min-width:23px;
  min-height:23px;
}

.doo-cart-summary-box {
  background-color: $lighter-grey;
  padding: 40px 20px 20px 20px;
}

.qty-input {
  text-align: center;
  padding-left: 30px;
}

.need-help-cont{
  padding-top: 20px;
  letter-spacing: 2px;
}

