<div      style="margin: 15px;"
          class="mat-elevation-z0"
          fxFlex 
          fxLayoutAlign="space-between" 
          fxLayout="column">
  <div fxLayout="column"  fxLayoutAlign="space-between" fxFlex>
    <div fxLayout="column" class = "selected-image-full">
        <mat-icon class = "doo-pointer" color = "accent" (click)="toggleFavorites(isFavorite)">{{isFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
        <div *ngIf = "object.fields.new" class = "new-label">
            {{'product.new' | translate}}
        </div>
      <div fxFlex style = "position: relative">
        <img  class = "full-width doo-pointer"
              style = "position: absolute"
              [lazyLoad]="object?.fields.media[0].fields.file.url"
              [defaultImage]="'assets/placeholder-1.svg'"
              (click)= "goToProduct()">
              <img  class = "full-width doo-pointer first-image"
              style = "position: absolute"
              [lazyLoad]="object?.fields.media[1].fields.file.url"
              [defaultImage]="'assets/placeholder-1.svg'"
              (click)= "goToProduct()">
      </div>
    </div>
   
    <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.xs="start" class = "product-name-label">
        {{name}}
    </div>
    <div fxLayout="column" class = "mat-body color-variant" fxShow fxHide.xs
        *ngIf = "productVariants.get('color')">
          <div fxLayout="row" fxLayoutAlign="center">
            <div *ngFor="let variant of productVariants.get('color')">
              <div [ngStyle]="{'background-color': variant.code}" class = "doo-color-box">
              </div>
            </div>
          </div>
    </div> 
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutAlign.xs="start">
        <span [ngClass] = "object.fields.discount ? 'doo-stroked-price' : ''" [innerHTML] = "object.fields.price | pricePipe">
            
        </span>
        <span *ngIf = "object.fields.discount" [innerHTML] = "object.fields.discount | pricePipe">
        </span>
      </div>
    </div>
  </div>
</div>
