<div      style="margin: 15px;"
          class="mat-elevation-z0"
          fxFlex 
          fxLayoutAlign="space-between" 
          fxLayout="column">
  <div fxLayout="column"  fxLayoutAlign="space-between" fxFlex>
    <div fxLayout="column" fxFlex class = "selected-image-full">
      <mat-icon *ngIf = "!isFavorite" class = "doo-pointer" (click)="addToFavorites()">favorite_border</mat-icon>
      <mat-icon *ngIf = "isFavorite" class = "doo-pointer" (click)="removeFromFavorites()">favorite</mat-icon>
      <div fxFlex>
        <img  class = "full-width doo-pointer"
              [lazyLoad]="object?.fields.media[imageIndex].fields.file.url"
              [defaultImage]="'assets/placeholder-1.svg'"
              (mouseenter) ="mouseEnter()"  
              (mouseleave) ="mouseLeave()"
              (click)= "goToProduct()">
      </div>
    </div>
    <div fxLayout="column">
      <div *ngIf = "object.fields.new" fxLayout="row" fxLayoutAlign="center">
       {{'product.new' | translate}}
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        {{name}}
      </div>
      <div fxLayout="row" fxLayoutAlign="center" >
        <span [ngClass] = "object.fields.discount ? 'doo-stroked-price' : ''">
            {{object.fields.price | pricePipe}}
        </span>
        <span *ngIf = "object.fields.discount">
            {{object.fields.discount | pricePipe}}
        </span>
      </div>
    </div>
  </div>
</div>
