<mat-card style="margin: 15px;"
          class="mat-elevation-z0"
          fxFlex fxLayoutAlign="space-between" fxLayout="column">
  <mat-card-header>
    
  </mat-card-header>
  <mat-card-content fxLayout="column"  fxLayoutAlign="space-between" fxFlex>
    <div fxLayout="column" fxFlex = "30" class = "selected-image-full">
      <mat-icon *ngIf = "!isFavorite" class = "doo-pointer" (click)="addToFavorites()">favorite_border</mat-icon>
      <mat-icon *ngIf = "isFavorite" class = "doo-pointer" (click)="removeFromFavorites()">favorite</mat-icon>
      <img  class = "full-width doo-pointer" 
            (mouseenter) ="mouseEnter()"  
            (mouseleave) ="mouseLeave()"
            [src]="object?.fields.media[imageIndex].fields.file.url"
            (click)= "goToProduct()">
    </div>
    <mat-card-actions fxLayout="column">
      <div *ngIf = "object.fields.new" fxLayout="row" fxLayoutAlign="center">
       {{'product.new' | translate}}
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        {{name}}
      </div>
      <div fxLayout="row" fxLayoutAlign="center" >
        <span [ngClass] = "object.fields.discount ? 'doo-stroked-price' : ''">
            {{object.fields.price | pricePipe}}
        </span>
        <span *ngIf = "object.fields.discount">
            {{object.fields.discount | pricePipe}}
        </span>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
