<div fxLayoutGap="20px" fxLayout="column" class = "doo-address-form">
                <doo-name-form #nameForm
                *ngIf = "isWithName"
                [userInfo]="userInfo"
                [showSaveButton] = "false"></doo-name-form>
     <div fxLayout="column" fxLayoutGap="5px">

          <div fxLayout = "column">
                                  
                <span class = "mat-subheading-2 doo-letter-space">
                        Start typing address or enter manually
                </span>
            <div *ngIf = "addMode && scriptLoaded" fxFlex = "100"> 
                    <address-autocomplete-input 
                        (setAddress)="getAddress($event)" 
                         adressType="geocode">
                    </address-autocomplete-input> 
            </div>
        </div>
        <div fxLayout = "row" 
            *ngIf = "!addManually && addMode"
            (click) = "addManually = !addManually" 
            class = "manual-add-btn doo-pointer">
                <mat-icon svgIcon = "doo-add"></mat-icon>
                <div class="mat-caption doo-letter-space">
                    <span>
                            {{ 'profile.address.enterAddressManually' | translate }}
                    </span>
                </div>
        </div>
        <div *ngIf = "addManually && addMode" fxLayout = "row">
                <form [formGroup]="addressForm" 
                    fxLayout = "column"
                    fxLayoutGap = "5px"
                    fxFlex = "100" >
                       <mat-form-field color = "primary" appearance="outline" class="full-width">
                        <mat-label>{{ 'profile.address.addressLine1' | translate }}</mat-label>
                        <input #addressLine1  formControlName="addressLine1" 
                                    autocomplete="addressLine1" 
                                    matInput 
                                    [errorStateMatcher]="matcher" 
                                    name="addressLine1" 
                                    placeholder=""
                                    type="text"/>
                            <mat-error *ngIf="addressForm.controls['addressLine1'].invalid">{{'errors.required' | translate}}</mat-error>
                        </mat-form-field> 
                    <div fxLayout = "row" fxLayout.xs = "column" fxLayoutAlign="space-between">
           
                        <mat-form-field fxFlex = "48" color = "primary" appearance="outline" class="full-width">
                            <mat-label>{{ 'profile.address.addressLine2' | translate }}</mat-label>
                            <input #addressLine2 formControlName="addressLine2" 
                                    autocomplete="addressLine2" 
                                    matInput 
                                    name="addressLine2" 
                                    placeholder=""
                                    type="text"/>
                        </mat-form-field>

                        <mat-form-field fxFlex = "48" appearance="outline" class="full-width" color = "primary">
                                <mat-label>{{ 'profile.address.city' | translate }}</mat-label>
                                <input #city formControlName="city" 
                                        autocomplete="city" 
                                        matInput 
                                        name="city" 
                                        placeholder=""
                                        type="text"/>
                                <mat-error *ngIf="addressForm.controls['city'].invalid">{{'errors.required' | translate}}</mat-error>
                         </mat-form-field>
                    </div>
                    <div fxLayout = "row" fxLayout.xs = "column" fxLayoutAlign="space-between">
                            <mat-form-field fxFlex = "48" appearance="outline" class="full-width" color = "primary">
                                    <mat-label>{{ 'profile.address.province' | translate }}</mat-label>
                                    <mat-select #province formControlName="province" 
                                            name="province" 
                                            placeholder="{{ 'profile.address.province' | translate }}">
                                            <mat-option *ngFor="let item of provinces" [value]="item.value">
                                                    {{item.viewValue}}
                                            </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="addressForm.controls['province'].invalid">{{'errors.required' | translate}}</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex = "48" appearance="outline" class="full-width" color = "primary">
                                    <mat-label>{{ 'profile.address.postal' | translate }}</mat-label>
                                    <input #postal formControlName="postal" 
                                            autocomplete="postal" 
                                            matInput 
                                            name="postal" 
                                            placeholder=""
                                            type="text"/>
                                            <mat-error *ngIf="addressForm.controls['postal'].invalid">{{'errors.required' | translate}}</mat-error>
                                </mat-form-field>
                    </div>
                </form>
            </div>
            <div fxLayout = "row" fxLayoutAlign = "center"
                 *ngIf = "addMode">
                 <div fxLayoutGap="30px"
                      fxLayout = "column"
                      fxFlex = "50">
                    <div></div>
                    <button (click)="saveAddress()" class="doo-checkout-btn full-width"
                            color="primary" mat-flat-button type="submit">
                            {{ 'profile.buttons.save' | translate }}
                    </button>   
                 </div>

            </div>
    </div>
</div>