<div fxLayoutGap="50px" fxLayout="column" >
     <div fxLayout="column" fxLayoutGap="15px">
            <div fxLayout = "row" *ngIf = "mode != 'alwaysOpen'">
                    <h2 fxFlex = "50" class="mat-h2" >{{ 'profile.address.primary' | translate }}</h2>
                    <div fxFlex = "50"
                        fxLayoutAlign="end"
                        (click) = "addMode = !addMode ;" 
                        class="mat-caption doo-pointer">
                        {{ addMode ? ('profile.buttons.close' | translate ) : userAddressInfo ? ('profile.buttons.edit' | translate ) : ('profile.buttons.add' | translate ) }}
                    </div>
            </div>
          <div fxLayout = "row">
            <div *ngIf = "!addMode && !userAddressInfo" fxLayout = "row" fxFlex = "100" class = "doo-bottom-border">
                <div>
                    {{ 'profile.address.noAddressSaved' | translate }}
                </div>
            </div>
            <div *ngIf = "!addMode && userAddressInfo" fxLayout = "row" fxFlex = "100" class = "doo-bottom-border">
                    <mat-icon color = "accent">location_on</mat-icon>
                    <div class="add-field-placeholder" >
                            {{userAddressInfo.addressLine2 ? userAddressInfo.addressLine2 + ' - ' : userAddressInfo.addressLine2  }} {{userAddressInfo.addressLine1}}
                        <br>
                        {{userAddressInfo.city + ' ' + userAddressInfo.province + ' ' + userAddressInfo.postal}}
                    </div>
            </div>
            <div *ngIf = "addMode && scriptLoaded" fxFlex = "100"> 
                    <address-autocomplete-input 
                        (setAddress)="getAddress($event)" 
                         adressType="geocode">
                    </address-autocomplete-input> 
            </div>
        </div>
        <div *ngIf = "addMode && userAddressInfo && mode != 'alwaysOpen'" fxLayout = "row" fxFlex = "100" class = "doo-bottom-border">
                <mat-icon color = "accent">location_on</mat-icon>
                <div class="add-field-placeholder" >
                        {{userAddressInfo.addressLine2 ? userAddressInfo.addressLine2 + ' - ' : userAddressInfo.addressLine2  }} {{userAddressInfo.addressLine1}}
                    <br>
                    {{userAddressInfo.city + ' ' + userAddressInfo.province + ' ' + userAddressInfo.postal}}
                </div>
        </div>
        <div fxLayout = "row" 
            *ngIf = "!addManually && addMode"
            (click) = "addManually = !addManually" 
            class = "manual-add-btn doo-pointer">
                <mat-icon color = "accent">add_circle_outline</mat-icon>
                <div class="mat-caption">
                    <span>
                            {{ 'profile.address.enterAddressManually' | translate }}
                    </span>
                </div>
        </div>
        <div *ngIf = "addManually && addMode" fxLayout = "row" >
                <form [formGroup]="addressInfo" 
                    fxFlex = "100">
                       <mat-form-field color = "primary" appearance="outline" class="full-width">
                        <mat-label>{{ 'profile.address.addressLine1' | translate }}</mat-label>
                        <input #addressLine1  formControlName="addressLine1" 
                                    autocomplete="addressLine1" 
                                    matInput 
                                    name="addressLine1" 
                                    placeholder=""
                                    type="text"/>
                            <mat-error *ngIf="addressInfo.controls['addressLine1'].invalid">{{'errors.required' | translate}}</mat-error>
                        </mat-form-field> 
                    <div fxLayout = "row" fxLayoutAlign="space-between">
           
                        <mat-form-field fxFlex = "48" color = "primary" appearance="outline" class="full-width">
                            <mat-label>{{ 'profile.address.addressLine2' | translate }}</mat-label>
                            <input #addressLine2 formControlName="addressLine2" 
                                    autocomplete="addressLine2" 
                                    matInput 
                                    name="addressLine2" 
                                    placeholder=""
                                    type="text"/>
                        </mat-form-field>

                        <mat-form-field fxFlex = "48" appearance="outline" class="full-width" color = "primary">
                                <mat-label>{{ 'profile.address.city' | translate }}</mat-label>
                                <input #city formControlName="city" 
                                        autocomplete="city" 
                                        matInput 
                                        name="city" 
                                        placeholder=""
                                        type="text"/>
                                <mat-error *ngIf="addressInfo.controls['city'].invalid">{{'errors.required' | translate}}</mat-error>
                         </mat-form-field>
                    </div>
                    <div fxLayout = "row" fxLayoutAlign="space-between">
                            <mat-form-field fxFlex = "48" appearance="outline" class="full-width" color = "primary">
                                    <mat-label>{{ 'profile.address.province' | translate }}</mat-label>
                                    <mat-select formControlName="province" 
                                            name="province" 
                                            placeholder="{{ 'profile.address.province' | translate }}">
                                            <mat-option *ngFor="let item of provinces" [value]="item.value">
                                                    {{item.viewValue}}
                                            </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="addressInfo.controls['province'].invalid">{{'errors.required' | translate}}</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex = "48" appearance="outline" class="full-width" color = "primary">
                                    <mat-label>{{ 'profile.address.postal' | translate }}</mat-label>
                                    <input #postal formControlName="postal" 
                                            autocomplete="postal" 
                                            matInput 
                                            name="postal" 
                                            placeholder=""
                                            type="text"/>
                                            <mat-error *ngIf="addressInfo.controls['postal'].invalid">{{'errors.required' | translate}}</mat-error>
                                </mat-form-field>
                    </div>
                </form>
            </div>
            <div fxLayout = "row"
                 *ngIf = "addMode && mode != 'alwaysOpen'">
                 <div fxLayoutGap="20px"
                      fxLayout = "column"
                      fxFlex = "70">
                    <button (click)="saveAddress()" class="full-width"
                            color="primary" mat-raised-button type="submit">
                            {{ 'profile.buttons.save' | translate }}
                    </button>   
                    
                    
                    <button (click) = "addManually = !addManually" class="full-width"
                            color="primary" mat-stroked-button>
                            {{ 'profile.buttons.cancel' | translate }}
                    </button>
                 </div>

            </div>
    </div>
</div>