@import 'src/css/_variables.scss';

  .doo-address-form {
    mat-icon {
      padding-right: 10px;
      height: 25px;
      width: 25px;
      
      ::ng-deep .cls-1 {
        stroke: $primary;
      }
      ::ng-deep .cls-2 {
        stroke: $primary;
      }
    }
  .mat-caption {
    text-decoration: underline;
  }

  input {
    letter-spacing: 2px;
    font-size: 18px;
  }

  mat-label {
    font-size: 16px;
    letter-spacing: 2px;
  }
  
}