@import 'src/css/_variables.scss';

  .doo-address-form {
    mat-icon {
      padding-right: 10px;
      height: 25px;
      width: 25px;
      
      ::ng-deep .cls-1 {
        stroke: $primary;
      }
      ::ng-deep .cls-2 {
        stroke: $primary;
      }
    }
  .mat-caption {
    text-decoration: underline;
  }

  input {
    letter-spacing: 2px;
  }

  ::ng-deep .mat-form-field-wrapper {
    margin : 5px 0 !important;
    padding-bottom: 3px !important;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    //top: -0.14375em;
    padding-top: 0.14375em;
  }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.0em) scale(0.75);
  }

  ::ng-deep .mat-form-field-outline-gap {
    border-top-color: inherit !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    letter-spacing: 2px;
    padding: 0.85em 0 0.85em 0;
    border-top: 0.5em solid transparent;
  }

  ::ng-deep .mat-form-field-subscript-wrapper {
    margin-top: 1.666667em;
  }
  
}