<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutGap = "10px" class="doo-contentful max-width" fxFlex>
        <div class="full-width" fxLayoutAlign="end">
            <mat-icon class="doo-pointer" svgIcon="doo-close" (click)="dialogRef.close()"></mat-icon>
        </div>
        <span class="mat-headline doo-letter-space doo-bottom-border">
            Mark subscription as not reviewed
        </span>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-md="center">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px" fxLayoutGap.lt-md="15px" fxFlex="80"
                fxLayoutAlign="end">
                <button color="accent" mat-stroked-button class="doo-cta-btn" (click)="onNoClick()">
                    CANCEL
                </button>
                <button color="primary" mat-flat-button class="doo-cta-btn" [mat-dialog-close]="'fulfill'" cdkFocusInitial>
                    UNREVIEW
                </button>
            </div>
        </div>
    </div>
</div>
