
<mat-form-field appearance="outline" class="full-width address-autocomplete-field">
                <span matPrefix>
                        <mat-icon svgIcon = "doo-search"></mat-icon>
                </span>
                <mat-label>{{ 'profile.address.addressSearch' | translate }}</mat-label>
                        <input matInput 
                               name="address" 
                               type="text"
                               #addresstext>                       
</mat-form-field>
        