
@import 'src/css/_variables.scss';
@import 'src/css/_material.scss';
  
.doo-name-form{
  input {
    letter-spacing: 2px;
    font-size: 18px;
  }

  mat-label {
    font-size: 16px;
    letter-spacing: 2px;
  }
}


  