@import '~@angular/material/theming';
@import 'src/css/contentful.scss';
@import 'src/css/_variables.scss';


.doo-nav-toggle-button {
  width: 200px;
  padding: 5px 20px;
  margin: 0;
  border: 0;
}
