@import 'src/css/_variables.scss';

.doo-order-success{
    padding-bottom: 5%;
    .doo-shipping-box {
        background: white;
        padding:20px;
        border-radius: 5px;
        letter-spacing: 2px;
        mat-icon {
        padding-right: 10px;
        height: 25px;
        width: 25px;
        
        ::ng-deep .cls-1 {
            stroke: $primary;
        }
        ::ng-deep .cls-2 {
            stroke: $primary;
        }
        }
    }

    .doo-cart-summary {
        background: white;
        padding:20px;
        border-radius: 5px;
    }

    .doo-order-number{
        font-weight: 900;
    }

    .mat-display-1{
        margin : 0 0 14px;
    }
}