<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="row" 
       fxLayout.lt-sm = "column" 
       fxFlex
       class="doo-reset-form doo-contentful"
       fxLayoutAlign="center" 
       fxLayoutGap="50px">
       <div *ngIf = "isSubmitted"
            fxLayout = "column"
            fxLayoutGap="20px" 
            fxLayoutAlign = "center center">
            <h2>Password changed</h2>
            <span class = "doo-letter-space accent-color">You can now login with your new password</span>
            
            <div fxLayout = "row" fxLayoutAlign="space-between" fxLayoutGap="10px">
                <button fxFlex [routerLink] = "'/login'" class = "doo-checkout-btn"
                        color="primary" mat-flat-button type="submit">
                  BACK TO LOGIN
                </button>
              </div>
        </div>
        <form *ngIf = "!isSubmitted"
              fxLayout = "column"
              [formGroup]="resetPasswordForm"
              fxLayoutGap="20px" 
              fxLayoutAlign = "start start"
              fxFlex = "60" 
              fxFlex.lt-md = "100"
              (keyup.enter)="resetPassword()">
              <h2>Choose new password</h2>
              <span class = "doo-letter-space accent-color">Make sure you can remember it, and it's not easily guessable</span>
            <div fxLayout = "column" class = "full-width">
                <mat-form-field appearance="outline" class="login-field">
                    <span matPrefix class = "doo-prefix-icon"><mat-icon class = "doo-primary-icon" svgIcon="doo-lock"></mat-icon></span>
                    <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
                    <input  formControlName="newPassword" 
                            autocomplete="password" 
                            matInput name="password" 
                            placeholder="New password"
                            [type]="toggle.type"/>
                            <mat-hint align="end" aria-live="polite">
                                {{resetPasswordForm.controls["newPassword"].value.length}} / 25
                            </mat-hint>
                            <mat-error *ngIf="resetPasswordForm.controls['newPassword'].invalid">{{'errors.required' | translate}}</mat-error>
                  </mat-form-field>
                  <mat-password-strength #passwordComponent (onStrengthChanged) = "pwStrengthChange($event)" [password]="resetPasswordForm.controls['newPassword'].value">
                  </mat-password-strength>
                  <mat-password-strength-info *ngIf = "showInfo" [passwordComponent]="passwordComponent">
                  </mat-password-strength-info>
                  <mat-form-field appearance="outline" class="login-field">
                      <span matPrefix class = "doo-prefix-icon"><mat-icon class = "doo-primary-icon" svgIcon="doo-lock"></mat-icon></span>
                      <input  formControlName="confirmPassword" 
                              autocomplete="password" 
                              matInput name="password" 
                              placeholder="Confirm password"
                              [type]="toggle.type"/>
                              <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].invalid">{{'errors.required' | translate}}</mat-error>
                    </mat-form-field>
            </div>
        <div fxLayout = "row" class = "full-width" fxLayoutAlign="space-between" fxLayoutGap="10px">
          <button fxFlex (click)="resetPassword()" class = "doo-checkout-btn"
                  color="primary" mat-flat-button type="submit">
            RESET PASSWORD
          </button>
        </div>

        <mat-error [textContent]="errorMessage"></mat-error>
        <div fxLayout = "row" class = "full-width" fxLayoutAlign="center">
          <span style = "line-height: 36px;opacity: 0.5;letter-spacing: 2px;">Think you got it?</span>
          <button class = "doo-letter-space" color = "accent" [routerLink] = "'login'" mat-button type="button">
            Back to login!
          </button>
      </div>
        </form>
  </div>

</div>
