<div [ngSwitch]="block.fields.type">
        <doo-background-img-block [block]="block" [resolution]="resolution" *ngSwitchCase="'Background Image'">
        </doo-background-img-block>
        <doo-text-block [block]="block" [resolution]="resolution" *ngSwitchCase="'Text'">
        </doo-text-block>
        <doo-split-screen-img [block]="block" [resolution]="resolution" *ngSwitchCase="'Split'">
        </doo-split-screen-img>
        <doo-card-post [block]="block" [resolution]="resolution" *ngSwitchCase="'Card'">
        </doo-card-post>
        <doo-row [block]="block" [resolution]="resolution" *ngSwitchCase="'Row'">
        </doo-row>
        <doo-expand-block [block]="block" *ngSwitchCase="'Accordion'">
        </doo-expand-block>
        <doo-faq-block [block]="block" [resolution]="resolution" *ngSwitchCase="'FAQ'">
        </doo-faq-block>
</div>