<div [fxLayout] = "stacked && !utils.bigScreens.includes(this.resolution)? 'column' : 'row'" 
     fxLayoutGap = "30px">
        <div *ngFor="let cta of actions" [ngSwitch]="cta.fields.appearence">
                <button *ngSwitchCase="'flat'" [color]="cta.fields.color"
                        (click)="navService.ctaClick(cta.fields.action)" mat-flat-button class="doo-cta-btn">
                        {{cta.fields.name}}
                </button>
                <button *ngSwitchCase="'stroked'" [color]="cta.fields.color"
                        (click)="navService.ctaClick(cta.fields.action)" mat-stroked-button class="doo-cta-btn">
                        {{cta.fields.name}}
                </button>
                <button *ngSwitchCase="'arrow'" [color]="cta.fields.color"
                        (click)="navService.ctaClick(cta.fields.action)" mat-stroked-button class="doo-cta-btn">
                        {{cta.fields.name}}
                        <mat-icon svgIcon="doo-arrow-right"></mat-icon>
                </button>
                <button *ngSwitchCase="'raised'" [color]="cta.fields.color"
                        (click)="navService.ctaClick(cta.fields.action)" mat-raised-button class="doo-cta-btn">
                        {{cta.fields.name}}
                </button>
                <div *ngSwitchCase="'text'" (click)="navService.ctaClick(cta.fields.action)"
                        class = "crumb-item doo-letter-space"
                        [class.primary-color]="cta.fields.color == 'primary'"
                        [class.accent-color]="cta.fields.color == 'accent'"
                        [class.white-color]="cta.fields.color == 'white'"
                        [class.black-color]="cta.fields.color == 'black'">
                        {{cta.fields.name}}
                </div>
        </div>
</div>