<div [fxLayout] = "stacked && !utils.bigScreens.includes(this.resolution)? 'column' : 'row'" 
     fxLayoutGap = "30px">
        <div *ngFor="let cta of actions" [ngSwitch]="cta.fields.appearence">
                <button *ngSwitchCase="'flat'" [color]="cta.fields.color"
                        (click)="navigate(cta)" mat-flat-button class="doo-cta-btn">
                        {{cta.fields.name}}
                </button>
                <button *ngSwitchCase="'stroked'" [color]="cta.fields.color"
                        (click)="navigate(cta)" mat-stroked-button class="doo-cta-btn">
                        {{cta.fields.name}}
                </button>
                <button *ngSwitchCase="'arrow'" [color]="cta.fields.color"
                        (click)="navigate(cta)" mat-stroked-button class="doo-cta-btn">
                        {{cta.fields.name}}
                        <mat-icon svgIcon="doo-arrow-right"></mat-icon>
                </button>
                <button *ngSwitchCase="'raised'" [color]="cta.fields.color"
                        (click)="navigate(cta)" mat-raised-button class="doo-cta-btn">
                        {{cta.fields.name}}
                </button>
                <div *ngSwitchCase="'text'" (click)="navigate(cta)" mat-button
                        class = "crumb-item doo-letter-space"
                        [dooFontColor]="cta.fields.color">
                        {{cta.fields.name}}
                </div>
        </div>
</div>