
     <mat-sidenav-container>
          <mat-sidenav  [opened]="summaryOpen" 
                        (closedStart)="summaryOpen = false"
                        [mode]="bigScreens.includes(this.resolution) ? 'side' : 'over'"
                        [ngClass] = "bigScreens.includes(this.resolution) ? 'doo-cart-summary-box' : 'doo-mobile-cart-summary-box'"
                        position = "end">
                        <div fxLayout="column" fxLayoutAlign = "space-between" fxFlex >
                                <div fxLayout = "row" fxLayoutAlign="start center" class = "nav-cart-title">
                                        <span class = "mat-caption doo-letter-space">
                                            ({{cartItemCount}}) Items in your cart
                                        </span>
                                    </div>
                        
                            <div class = "cart-items-cont">
                                <doo-cart-items [cartItems] = "cartItems"></doo-cart-items>
                            </div>
                            <div fxLayout="column" class = "doo-cart-summary">
                                    <div fxLayout="column" class = "doo-bottom-border">
                                            <div fxLayout="row" class = "mat-subheading-1" fxLayoutAlign="space-between">
                                                <span class = "doo-letter-space">{{'cart.subtotal' | translate}}</span>
                                                <span [innerHTML] = "cartTotal | pricePipe"> 
                                                </span>
                                            </div>
                                            <div fxLayout="row" class = "mat-caption" fxLayoutAlign="space-between">
                                                <span class = "doo-letter-space">{{'cart.shippingTitle' | translate}}</span>
                                                <span [innerHTML] = "shippingCost ? (shippingCost | pricePipe) : 'FREE'"> 
                                                </span>
                                            </div>
                                            <div fxLayout="row" class = "mat-caption" fxLayoutAlign="space-between">
                                                <span class = "doo-letter-space">{{siteSettings.fields.primaryTax}}</span>
                                                <span [innerHTML] = "primaryTax ? (primaryTax | pricePipe) : 'FREE'"> 
                                                </span>
                                            </div>
                                            <div fxLayout="row" class = "mat-caption" fxLayoutAlign="space-between">
                                                <span class = "doo-letter-space">{{siteSettings.fields.secondaryTax}}</span>
                                                <span [innerHTML] = "secondaryTax ? (secondaryTax | pricePipe) : 'FREE'"> 
                                                </span>
                                            </div>
                                    </div>
                                            <div fxLayout="row" class = "mat-subheading-2" fxLayoutAlign="space-between" style = "padding: 15px 0px;">
                                                <span class = "doo-letter-space">TOTAL</span>
                                                <span [innerHTML] = "grandTotal | pricePipe"> 
                                                </span>
                                            </div>
                            </div>

                        </div> 

            </mat-sidenav>
            <mat-sidenav-content style="flex: 1 1 100%;min-height:100vh;">
                    <div fxLayout= "column" fxFlex = "100">
                            <div fxLayout="column" fxFlex>
                                    <div fxLayout="row" 
                                         fxLayout.lt-sm="column"
                                         fxLayoutAlign = "space-between" 
                                         class = "doo-bottom-border">
                                        <div fxLayout="column" fxLayoutGap = "10px">
                                            <div></div>
                                            <div fxLayout = "row">
                                                <button [routerLink] = "'/'" mat-button
                                                        class="doo-nav-toggle-button">
                                                            <img  [src]="siteSettings?.fields.logo.fields.file.url">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                                <div *ngIf = "!cartTotal" 
                                                    class = "doo-empty-cart" 
                                                    fxLayoutGap = "20px" 
                                                    fxLayout = "column" 
                                                    fxLayoutAlign="center center">
                                                    <span class = "mat-subheading-2">
                                                            Explore our store 
                                                    </span>
                                                    <span class = "mat-caption">
                                                        You don't have any items in your cart
                                                    </span>
                                                   <div fxLayout = "row" class = "full-width" fxLayoutAlign="center center">
                                                        <button color="primary" class = "doo-checkout-btn" mat-flat-button fxFlex = "40" [routerLink] = "'/'">
                                                            SHOP
                                                        </button>
                                                    </div>
                                                </div>
                                    <div *ngIf = "cartTotal" fxLayout="column">
                                            <div *ngIf = "loading" fxLayout = "row" fxLayoutAlign="center start" class = "doo-loading-overlay">
                                                    <div class="doo-loading-screen">
                                                      <img src = "assets/icons/logo.png">
                                                    </div>
                                            </div>
                                            <div class = "doo-mobile-cart-btn doo-pointer" 
                                                 (click) = "utilService.scrollTop() ; summaryOpen = true;" 
                                                 *ngIf = "!bigScreens.includes(this.resolution) && !loading"
                                                 fxLayout="row" 
                                                 fxLayoutGap = "20px" 
                                                 fxLayoutAlign="end">
                                                    <div fxLayout = "column" >
                                                            <div fxLayout="row" 
                                                                class = "mat-caption" 
                                                                fxLayoutGap = "20px"
                                                                fxLayoutAlign="space-between" style = "padding: 15px 0px;">
                                                                    <span class = "doo-letter-space">TOTAL</span>
                                                                    <span [innerHTML] = "cartTotal | pricePipe"> 
                                                                    </span>
                                                            </div>
                                                    </div>
                                                    <div fxLayout = "column" fxLayoutAlign="center center">
                                                            <mat-icon svgIcon="doo-arrow-right"></mat-icon>
                                                    </div>
                                            </div>
                                            <router-outlet *ngIf = "!loading"></router-outlet>

                                            <doo-footer *ngIf = "!loading"></doo-footer>
                                    </div>
                                    
                                </div>
                    </div>
            </mat-sidenav-content>
     </mat-sidenav-container>








