@import 'src/css/_variables.scss';


:host {
  height: 100%;
  width: 100%;
}

.doo-stroked-price {
  text-decoration: line-through;
  opacity: 0.5;
  padding-right: 10px;
  color: $accent;
}

.doo-checkout-btn {
  font-size: 12px;
  padding : 5px 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

::ng-deep .currency-label {
  font-size: 12px;
  opacity: 0.5;
}

.doo-color-box {
  min-width:23px;
  min-height:23px;
}

.doo-cart-summary-box {
  background-color: $lighter-grey;
  padding: 40px 20px 20px 20px;
}

.qty-input {
  text-align: center;
  padding-left: 30px;
}

.caption-cont{
  padding-top: 20px;
  letter-spacing: 2px;
}

.promo-form {
  padding : 10px 0px;
  ::ng-deep .mat-form-field-wrapper {
    margin: 0 0 !important;
    padding-bottom: 0em;
  }
}

.cart-placeholder {
  margin:15px;
  animation-duration: 1.5s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0.2;
  }
}