@import 'src/css/_variables.scss';


:host {
  height: 100%;
  width: 100%;
} 

.doo-cart-steps{
  padding-top: 20px;
  button {
    font-size: 18px;
    line-height:18px;
    min-width: 50px;
    padding: 0 2px;
  }
  mat-icon {
    height: 15px;
    width: 15px;
  }
}

.doo-empty-cart {
  padding-top: 20%;
}

.doo-filters-btn{
  padding-right: 5%;
  button {
      background: $accent;
      border-bottom-right-radius: 15px !important;
      border-bottom-left-radius: 15px !important;
      padding: 0 15px !important;
      //min-width: 45px;
      span {
        padding-right: 5px;
      }
      mat-icon {
          height: 25px;
          width: 25px;
          
          ::ng-deep .cls-1 {
            stroke: white;
          }
          ::ng-deep .cls-2 {
            stroke: white;
          }
        }
  }
}


.cart-items-cont {
  height: 400px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.cart-items-cont::-webkit-scrollbar {
  display: none;
}

.doo-nav-toggle-button {
  width: 220px;
  padding: 5px 20px;
  margin: 0;
  border: 0;
}

.doo-color-box {
  min-width:23px;
  min-height:23px;
}

.doo-cart-summary-box {
  background-color: $lighter-grey;
  width:  35%;
  .doo-cart-summary{
    padding : 20px;
    border-top: solid;
    border-width: 2px;
    border-color: $light-grey;
  }
}

.doo-mobile-cart-summary-box {
  background-color: $lighter-grey;
  padding: 0px 10px 10px 10px;
  width:  95%;
  
}

.nav-cart-title{
  padding-left: 10px;
  .mat-caption{
    font-weight: 900;
    opacity: 0.7;
    margin : 10px 0px;
  }
}

.doo-mobile-cart-btn {
  background-color: $light-grey;
  margin-bottom: 10px;
}

.qty-input {
  text-align: center;
  padding-left: 30px;
}

.caption-cont{
  padding-top: 20px;
  letter-spacing: 2px;
}

.promo-form {
  padding : 10px 0px;
  border-top: solid;
    border-width: 2px;
    border-color: $light-grey;
  ::ng-deep .mat-form-field-wrapper {
    margin: 0 0 !important;
    padding-bottom: 0em;
  }
}

.cart-placeholder {
  margin:15px;
  animation-duration: 1.5s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0.2;
  }
}