@import '~@angular/material/theming';

//Theme
$primary: mat-color($mat-brown, 100);
$accent: mat-color($mat-pink ,200);


//System colors
$light-grey: mat-color($mat-grey, 300);
$lighter-grey: mat-color($mat-grey, 100);



$success : mat-color($mat-green, 600);
