@import '~@angular/material/theming';

//Theme
$primary: mat-color($mat-brown, 100);
$accent: mat-color($mat-pink ,200);

$nav-bk: white;


//System colors
$black: mat-color($mat-grey, 900);
$light-grey: mat-color($mat-grey, 300);
$lighter-grey: mat-color($mat-grey, 100);
$dark-blue: mat-color($mat-blue, 800);



$success : mat-color($mat-green, 600);
