@import "./styles";

$primary: mat-color($mat-brown, 100);
$accent: mat-color($mat-pink ,200);

@include angular-material-theme(mat-light-theme(
    mat-palette($mat-brown, 100),
    mat-palette($mat-pink ,200),
    mat-palette($mat-deep-orange ,800)
));



$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);


.crumb-item {
    position: relative;
    padding-bottom: 8px;
  
     &:before,
      &:after {
          content: '';
          position: absolute;
          bottom: 2px;
          left: 0; right: 0;
          height: 2px;
          background-color: $primary;
      }
      &:before {
          opacity: 0;
          transform: translateY(- $distance);
          transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
          opacity: 0;
          transform: translateY($distance/2);
          transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:hover,
      &:focus {
          &:before,
          &:after {
              opacity: 1;
              transform: translateY(0);
          }
          &:before {
              transition: transform $duration $easeOutBack, opacity $duration;
          }
          &:after {
              transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
          }
      }
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 150px;
    height: 150px;
    margin: 1px;
    border-radius: 50%;
    border: 10px solid $accent;
    border-color: $accent transparent;
    animation: lds-dual-ring 2.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
.doo-overlay {
    position: absolute; 
    height: 100%; 
    width: 100%;
    padding-top: 200px;;
    background: $primary;
    z-index: 100;
    opacity: 0.3;
  }