<div fxLayout="column" class="doo-table-cont" fxLayoutGap="20px">
  <span class="mat-display-1 pad-20">Orders</span>
  <div fxLayout="column" class="mat-elevation-z2 doo-top-border-radius doo-bottom-border-radius">
    <div fxFlexLayout="row" class="doo-dashboard-filters doo-top-border-radius">
      <button mat-button (click)="filterOrder('all')" [class.chosenFilter]="ordersFilter =='all'" class="primary-color">
        All
      </button>
      <button mat-button (click)="filterOrder('new')" [class.chosenFilter]="ordersFilter =='new'" class="primary-color">
        New
      </button>
      <button mat-button (click)="filterOrder('delivered')" [class.chosenFilter]="ordersFilter =='delivered'"
        class="primary-color">
        Delivered
      </button>
      <button mat-button (click)="filterOrder('complete')" [class.chosenFilter]="ordersFilter =='complete'"
        class="primary-color">
        Fullfiled
      </button>
    </div>
    <div class="doo-search-box">
      <mat-form-field appearance="outline" class="full-width">
        <span matPrefix>
          <mat-icon svgIcon="doo-search"></mat-icon>
        </span>
        <input type="text" [(ngModel)]="searchKey" placeholder="Filter orders" aria-label="Number"
          (keyup)="applyFilter($event)" matInput>
      </mat-form-field>
    </div>
    <div *ngIf="dataSource && dataSource.filteredData.length == 0" class="doo-dashboard-no-items" fxLayout="column"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <span>
        <mat-icon svgIcon="doo-search"></mat-icon>
      </span>
      <span class="mat-title">
        No items found
      </span>
      <div class="mat-caption doo-opacity">
        Try changing the filters or search term
      </div>
    </div>
    <div [class.doo-sticky-lg-col-table]="!utilService.bigScreens.includes(this.resolution)">
      <mat-table *ngIf="dataSource && dataSource.filteredData.length > 0" [dataSource]="dataSource"
        class="doo-dashboard-overview mat-elevation-z0">
        <ng-container matColumnDef="select">
          <mat-header-cell style="max-width: 30px; min-width: 30px;" *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell style="max-width: 30px; min-width: 30px;" *matCellDef="let element">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="checkboxSelected($event,element)"
              [checked]="isSelected(element)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
              <span>
                {{element.id}}
              </span>
              <app-dashboard-order-status [order]="element"></app-dashboard-order-status>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.date | date : 'longDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div fxLayout="column">
              <span>{{element.name}}</span>
              <span>{{element.email}}</span>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span [innerHTML]="element.total | pricePipe"></span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemCount">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.itemCount}} item</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="goToOrder(row.id,row.uid)" class="doo-pointer" [class.doo-opacity]="row.status=='complete'"
          *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>
    <mat-paginator class="doo-bottom-border-radius" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>