@import 'src/css/_variables.scss';

app-nav-toolbar {
  position: sticky !important;
  top: 0px;
  z-index: 10;
  background: white;
  ::ng-deep .mat-toolbar {
    background-color: inherit !important;
  }
}

mat-drawer-container {
  min-height: 700px;
}

.main-nav-container {
  padding-top: 50px;
}

.main-nav-container-mobile {
  padding-top: 0px;
}

.doo-cart-side-nav{
  background-color:white;
  height: 900px;
  width: 35%;
}

.doo-mobile-cart-side-nav{
  background-color:white;
  height: 600px;
  width: 350px;
}


.bottom-news-feed-row {
  border-bottom: solid;
  border-top: solid;
  border-width: 1px;
  border-color: $light-grey;
  min-height: 35px;
  opacity: 0.7;
}

.sidenav-container {
  height: 100%;

  mat-drawer {
    box-shadow: 0 0 10px -5px #bbb;
    border: none;
    }
  }
  .nav-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }


.mat-nav-list {
  padding: 0px;
}


  
.doo-overlay {
  position: absolute; 
  height: 100%; 
  width: 100%;
  padding-top: 200px;
  background: $primary;
  z-index: 100;
  opacity: 0.7;
  }

  .doo-loading-overlay {
    position: absolute;
    width: 100%;
    background: white;
    z-index: 100;
    opacity: 1;
    }

.doo-loading-screen {
  background: $lighter-grey;
  padding-bottom: 200px;
  width: 80%;
  text-align: center;
  margin:15px;
  animation-duration: .5s;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loading {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 0.2;
  }
}