<div class="nav-container">

<app-nav-toolbar fxLayout = "column"
                 (logout)="logout()"
                 (expandMainMenu)="expandMainMenu()"
                 (expandCartNav) = "expandCartNav()"
                 (toggleMobileSideMenu) = "toggleMobileSideMenu()"
                 (startSearchProducts) = "startSearchProducts($event)"
                 [filteredOptions] = "filteredOptions"
                 [searchControl] = "searchControl"
                 [mainMenuOpen] = "mainMenuOpen"
                 [siteSettings] = "siteSettings"
                 [cartItemCount] = "cartSideNavComponent?.cartItemCount"
                 [rootCategories] = "rootCategories"
                 [categories] = "categories"
                 [resolution] = "resolution"
                 [activePage]="getActivePage()"
                 [previousUrl]="getPreviousUrl()">
</app-nav-toolbar>
<div fxLayout = "column" *ngIf = "false" fxLayoutAlign = "center center" class = "mat-caption bottom-news-feed-row">
    FREE DELIVERY FROM $50 AND EASY RETURNS - RETURNS EXTENDED TO 60 DAYS
  </div>
<mat-sidenav-container >
    <mat-sidenav *ngIf = "resolution == 'xs'" [opened]="isMobileMenuOpen" 
                 (closedStart)="isMobileMenuOpen = false"
                 mode="over" 
                 position = "start">
                  <doo-mobile-side-nav
                  [rootCategories] = "rootCategories"
                  [categories] = "categories"
                  (goToURL) = "goToFromMobileNav($event)">
                  </doo-mobile-side-nav>
    </mat-sidenav>
    <mat-sidenav [opened]="isOpen" 
                 (closedStart)="isOpen = false"
                 mode="over" 
                 style = "height: 600px"
                 position = "end">
                 <doo-cart-side-nav #cartSideNav></doo-cart-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
      <div *ngIf = "mainMenuOpen" fxLayout = "row" fxLayoutAlign="center start" (click) = "hideMainMenu()" class = "doo-overlay">
          
      </div>
      <div *ngIf = "loading && this.navService.getActivePage().title != 'Home'" fxLayout = "row" fxLayoutAlign="center start" class = "doo-loading-overlay">
          <div class="doo-loading-screen">
            <img src = "assets/icons/logo.png">
          </div>
      </div>
    <router-outlet style = "padding-top: 250px;"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
<doo-footer></doo-footer>