<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="row" 
       fxLayout.lt-sm = "column" 
       fxFlex = "60" 
       fxFlex.lt-md = "100"
       class="doo-forgot-form doo-contentful"
       fxLayoutAlign="center" 
       fxLayoutGap="50px">
        <div *ngIf = "isSubmitted"
             fxLayout = "column"
             fxLayoutGap="20px" 
             fxLayoutAlign = "center center">
             <h2>Check your email</h2>
             <span class = "doo-letter-space accent-color">We sent you instructions on how to reset your password</span>
             
             <div fxLayout = "row" fxLayoutAlign="space-between" fxLayoutGap="10px">
                <button fxFlex [routerLink] = "'/login'" class = "doo-checkout-btn"
                        color="primary" mat-flat-button type="submit">
                  BACK TO LOGIN
                </button>
              </div>
        </div>
        <form *ngIf = "!isSubmitted"
              fxLayout = "column"
              fxLayoutGap="20px" 
              [formGroup]="forgotPasswordForm"
              fxLayoutAlign = "center center"
              (keyup.enter)="forgotPassword()">
              <h2>Forgot your password?</h2>
              <span class = "doo-letter-space accent-color">That's okay! It heppens to the best of us</span>
             <div fxLayout = "column" class = "full-width">
                <mat-form-field appearance="outline" class="login-field">
                    <span matPrefix class = "doo-prefix-icon"><mat-icon class = "doo-primary-icon" svgIcon="doo-email"></mat-icon></span>
                    <input formControlName ="email" 
                           autocomplete="email" 
                           matInput 
                           name="email" 
                           placeholder="Email"
                          type="text"/>
                          <mat-error *ngIf="forgotPasswordForm.controls['email'].invalid">{{'errors.required' | translate}}</mat-error>
                  </mat-form-field>
            </div>
        <div fxLayout = "row" class = "full-width" fxLayoutAlign="space-between" fxLayoutGap="10px">
          <button fxFlex (click)="forgotPassword()" class = "doo-checkout-btn"
                  color="primary" mat-flat-button type="submit">
            RESET PASSWORD
          </button>
        </div>
        <div fxLayout = "row" class = "full-width" fxLayoutAlign="center">
          <span style = "line-height: 36px;opacity: 0.5;letter-spacing: 2px;">Think you got it?</span>
          <button class = "doo-letter-space" color = "accent" [routerLink] = "'login'" mat-button type="button">
            Back to login!
          </button>
      </div>
        </form>
        
  </div>

</div>
