
@import 'src/css/_variables.scss';
@import 'src/css/contentful.scss';

.doo-forgot-form {
  padding : 0px 10px;
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 1em 0.5em;
  }

  .doo-checkout-btn{
    border-radius: 25px !important;
  }

  .doo-prefix-icon {
    padding-right: 5px;
  }
}
