
@import 'src/css/_variables.scss';
@import 'src/css/contentful.scss';

.doo-guest-form {
  padding: 0px 5px;
  .doo-checkout-btn{
    border-radius: 25px !important;
  }
}

.doo-login-form {
  padding: 0px 5px;
  .doo-checkout-btn{
    border-radius: 25px !important;
  }

  .google-icon{
    height: 35px;
    width: 35px;
    padding-bottom: 10px
  }

  .facebook-icon{
    width: 35px;
    padding: 12px 0px;
  }
}
