
@import 'src/css/_variables.scss';
@import 'src/css/contentful.scss';

.doo-login-form {
  &.mobile{
    padding: 20px 10px !important;
  }
  &.guest {
    padding-top: 65px;
    background: $lighter-grey;
  }
  padding: 20px 50px;
  .doo-checkout-btn{
    border-radius: 25px !important;
  }

  .guest-header-icon {
    background: $primary;
    padding : 20px;
    height: 50px;
    width: 50px;
    border-radius: 45px;
    opacity: 60%;
  }

  .google-icon{
    height: 35px;
    width: 35px;
    padding-bottom: 10px
  }

  .facebook-icon{
    width: 35px;
    padding: 12px 0px;
  }
}
