<div fxLayout="column" [fxLayoutGap]="block.fields.bottomPadding ? block.fields.bottomPadding : '0px' ">
     <div fxLayout="row" fxLayoutAlign="center">
          <div fxLayout="column" [fxFlex]="block.fields.width" fxLayoutAlign="center">
               <div [fxFlexOrder]="['start' , 'center'].includes(block.fields.contentPosition)  ? 2 : 1"
                    fxLayout="column" [fxFlex]="block.fields.textBoxWidth" fxFlex.lt-md="100" style="padding:20px"
                    [class.primary-background]="block.fields.textBackground == 'Primary'"
                    [class.accent-background]="block.fields.textBackground == 'Accent'"
                    [class.white-background]="block.fields.textBackground == 'White'"
                    [class.black-background]="block.fields.textBackground == 'Black'">
                    <div class="doo-cta-content doo-contentful"
                         [class.primary-color]="block.fields.textColor == 'Primary'"
                         [class.accent-color]="block.fields.textColor == 'Accent'"
                         [class.white-color]="block.fields.textColor == 'White'"
                         [class.black-color]="block.fields.textColor == 'Black'"
                         [style.text-align]="block.fields.textAlign" [innerHTML]="block.fields.content | richTextPipe">
                    </div>
                    <div class="doo-cta-content doo-contentful"
                         [class.primary-color]="block.fields.otherTextColor == 'Primary'"
                         [class.accent-color]="block.fields.otherTextColor == 'Accent'"
                         [class.white-color]="block.fields.otherTextColor == 'White'"
                         [class.black-color]="block.fields.otherTextColor == 'Black'"
                         [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                         [innerHTML]="block.fields.otherContent | richTextPipe">
                    </div>
                    <doo-actions [fxLayoutAlign]="block.fields.actionsPosition" fxLayoutGap="20px" fxLayout="row"
                         [actions]="block.fields.actions"></doo-actions>

               </div>
               <div>
                    <img #postImg *ngIf="block.fields.media[0].fields.file.details.image"
                         class="full-width post-placeholder" style="object-fit: cover;height: 100%;"
                         [lazyLoad]="block.fields.media[0].fields.file.url"
                         [alt] = "block.fields.media[0].fields.description"
                         [defaultImage]="'assets/placeholders/placeholder-full-width-post.svg'"
                         (onStateChange)="myCallbackFunction($event)">
                    <video #mainVid *ngIf="!block.fields.media[0].fields.file.details.image"
                         [src]="block.fields.media[0].fields.file.url" autoplay muted="muted" loop playsinline
                         style="width: 100%;display: block;">
                    </video>
               </div>

          </div>
     </div>
     <div></div>
</div>