<div fxLayout="column" [fxLayoutGap]="block.fields.bottomPadding ? block.fields.bottomPadding : '0px' ">
     <div fxLayout="row" fxLayoutAlign="center">
          <div fxLayout="column" [fxFlex]="block.fields.width" fxFlex.lt-md="100" fxLayoutAlign="center">
               <div [fxFlexOrder]="['start' , 'center'].includes(block.fields.contentPosition)  ? 1 : 2"
                    fxLayout="column" class="pad-20" [dooBackground]="block.fields.textBackground">
                    <div *ngIf="block.fields.content" fxLayout="row" [fxLayoutAlign]="block.fields.textAlign ? block.fields.textAlign : 'start'">
                         <div class="doo-cta-content doo-contentful" [dooFontColor]="block.fields.textColor"
                              [style.text-align]="block.fields.textAlign" [fxFlex.gt-md]="block.fields.textWidth"
                              [innerHTML]="block.fields.content | richTextPipe">
                         </div>
                    </div>
                    <div *ngIf="block.fields.otherContent" fxLayout="row" [fxLayoutAlign]="block.fields.textAlign ? block.fields.textAlign : 'start'">
                         <div class="doo-cta-content doo-contentful" [dooFontColor]="block.fields.otherTextColor"
                              [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                              [fxFlex.gt-md]="block.fields.textWidth"
                              [innerHTML]="block.fields.otherContent | richTextPipe">
                         </div>
                    </div>

                    <doo-actions *ngIf="block.fields.actions" [fxLayoutAlign]="block.fields.actionsPosition ? block.fields.actionsPosition : 'start' "
                         fxLayoutGap="20px" fxLayout="row" [actions]="block.fields.actions"></doo-actions>

               </div>
               <div fxLayout="row" [fxFlexOrder]="['start' , 'center'].includes(block.fields.contentPosition)  ? 2 : 1"
                    fxLayoutAlign="center center">
                    <img #postImg class="full-width post-placeholder"
                         [dooImgStyle]="{block : block, resolution : this.resolution}"
                         [lazyLoad]="block.fields.media[0].fields.file.url"
                         [defaultImage]="'assets/placeholders/placeholder-full-width-post.svg'"
                         (onStateChange)="myCallbackFunction($event)" />
                    <video #mainVid class="full-width" [dooImgStyle]="{block : block, resolution : this.resolution}"
                         autoplay muted loop playsinline>
                    </video>
               </div>

          </div>
     </div>
</div>