<div fxLayout="column" [fxLayoutGap]="block.fields.bottomPadding ? block.fields.bottomPadding : '0px' ">
     <div fxLayout="row" fxLayoutAlign="center">
          <div fxLayout="column" [fxFlex]="block.fields.width" fxFlex.lt-md="100" fxLayoutAlign="center">
               <div [fxFlexOrder]="['start' , 'center'].includes(block.fields.contentPosition)  ? 1 : 2"
                    fxLayout="column" class = "pad-20" [dooBackground] = "block.fields.textBackground">
                    <div *ngIf="block.fields.content" fxLayout="row" [fxLayoutAlign]="block.fields.textAlign">
                         <div class="doo-cta-content doo-contentful"
                              [dooFontColor]= "block.fields.textColor"
                              [style.text-align]="block.fields.textAlign" 
                              [fxFlex.gt-md]="block.fields.textWidth"
                              [innerHTML]="block.fields.content | richTextPipe">
                         </div>
                    </div>
                    <div *ngIf="block.fields.otherContent" fxLayout="row" [fxLayoutAlign]="block.fields.textAlign">
                         <div class="doo-cta-content doo-contentful"
                              [dooFontColor]= "block.fields.otherTextColor"
                              [style.text-align]="block.fields.textAlign ? block.fields.textAlign : 'start'"
                              [fxFlex.gt-md]="block.fields.textWidth"
                              [innerHTML]="block.fields.otherContent | richTextPipe">
                         </div>
                    </div>

                    <doo-actions *ngIf ="block.fields.actions" [fxLayoutAlign]="block.fields.actionsPosition" fxLayoutGap="20px" fxLayout="row"
                         [actions]="block.fields.actions"></doo-actions>

               </div>
               <div fxLayout="column" [fxFlexOrder]="['start' , 'center'].includes(block.fields.contentPosition)  ? 2 : 1"
                    fxLayoutAlign="center center" [ngClass]="utils.bigScreens.includes(this.resolution) ? '' : 'crop'">
                    <img #postImg *ngIf="block.fields.media[0].fields.file.details.image"
                         class="full-width post-placeholder" (click)="navigate()"
                         [class.doo-pointer]="block.fields.imageAction"
                         [style.width]="utils.bigScreens.includes(this.resolution) ? (block.fields.textBoxWidth ? block.fields.textBoxWidth + '%' : '100%') : (block.fields.mobileMediaWidth ? block.fields.mobileMediaWidth : '100%')"
                         [style.padding-left]="utils.bigScreens.includes(this.resolution) ? '0px' : (block.fields.mobileMediaLeftPadding ? block.fields.mobileMediaLeftPadding : '0px')"
                         [style.padding-right]="utils.bigScreens.includes(this.resolution) ? '0px' : (block.fields.mobileMediaRightPadding ? block.fields.mobileMediaRightPadding : '0px')"
                         [lazyLoad]="block.fields.media[0].fields.file.url"
                         [alt]="block.fields.media[0].fields.description"
                         [defaultImage]="'assets/placeholders/placeholder-full-width-post.svg'"
                         (onStateChange)="myCallbackFunction($event)">
                    <video #mainVid *ngIf="!block.fields.media[0].fields.file.details.image"
                         [style.width]="utils.bigScreens.includes(this.resolution) ? '100%' : (block.fields.mobileMediaWidth ? block.fields.mobileMediaWidth : '100%')"
                         [style.padding-left]="utils.bigScreens.includes(this.resolution) ? '0px' : (block.fields.mobileMediaLeftPadding ? block.fields.mobileMediaLeftPadding : '0px')"
                         [style.padding-right]="utils.bigScreens.includes(this.resolution) ? '0px' : (block.fields.mobileMediaRightPadding ? block.fields.mobileMediaRightPadding : '0px')"
                         [src]="block.fields.media[0].fields.file.url" autoplay muted loop playsinline
                         class="full-width">
                    </video>
               </div>

          </div>
     </div>
     <div></div>
</div>