@import 'src/css/_variables.scss';

.doo-cart-card {
  :host {
    height: 100%;
    width: 100%;
  }

  .mat-subheading-2 {
    margin : 0px;
  }

  .doo-price-tag{
    height: 15px;
    width: 15px;
    
    ::ng-deep .cls-1 {
      stroke: $accent;
    }
    ::ng-deep .cls-2 {
      stroke: $accent;
    }
  }

  .doo-cart-action {
    mat-icon {
      height: 15px;
      width: 15px;
      
      ::ng-deep .cls-1 {
        stroke: $black;
      }
      ::ng-deep .cls-2 {
        stroke: $black;
      }
    }

    .fav-border {
      height: 20px;
      width: 20px;
      
      ::ng-deep .cls-1 {
        stroke: $accent;
      }
      ::ng-deep .cls-2 {
        stroke: $accent;
      }
    }

    .fav-fill {
      height: 20px;
      width: 20px;
      
      ::ng-deep .cls-1 {
        stroke: $accent;
        fill: $accent;
      }
      ::ng-deep .cls-2 {
        stroke: $accent;
        fill: $accent;
      }
    }
  }

  .cart-card-content {
    padding-left: 10px;
  }

  .cart-item-variant{
    padding-bottom: 5px;
    letter-spacing: 2px;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-top: 1.25em;
  }
}