<div style="margin: 15px;" class="doo-cart-card" fxLayoutGap="10px" fxLayout="column">
  <span fxShow fxHide.xs class="mat-subheading-2 doo-letter-space">
    {{object.product.fields.title}}
  </span>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
    <div fxLayout="row" fxHide fxShow.xs fxLayoutAlign="space-between">

      <span class="doo-cart-action doo-pointer">
        <mat-icon class="fav-border" svgIcon="doo-favorite" *ngIf="!isFavorite" (click)="toggleFavorites(true)">
        </mat-icon>
        <mat-icon class="fav-fill" svgIcon="doo-favorite" *ngIf="isFavorite" (click)="toggleFavorites(false)">
        </mat-icon>
      </span>
      <span class="doo-cart-action doo-pointer">
        <mat-icon svgIcon="doo-close" (click)="removeFromCart()"></mat-icon>
      </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="30">
      <div fxLayout="column" fxFlex.xs="45" fxFlex.lg="100">

        <img class="full-width doo-pointer" [lazyLoad]="object?.product.fields.media[0].fields.file.url"
          [alt]="object?.product.fields.media[0].fields.description" [defaultImage]="'assets/placeholders/placeholder-1.svg'">
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between" fxFlex="55" class="cart-card-content">
      <div fxLayout="column">
        <span fxHide fxShow.xs class="mat-subheading-2">
          {{object.product.fields.title}}
        </span>
        <span *ngIf="object.variants.support" class="mat-caption cart-item-variant">
          <span>{{'product.support' | translate}}:</span> {{object.variants.support}}
        </span>
        <span *ngIf="object.variants.color" class="mat-caption cart-item-variant">
          <span>{{'product.color' | translate}}:</span> {{object.variants.color}}
        </span>
        <span *ngIf="object.variants.size" class="mat-caption cart-item-variant">
          <span>{{'product.size' | translate}}: </span> {{object.variants.size}}
        </span>
        <span class="mat-caption cart-item-variant">
          <span>{{'product.qty' | translate}}: </span> {{object.qty}}
        </span>
      </div>


      <div fxLayout="column" class="mat-subheading-1">
        <div fxLayout="column" fxLayoutAlign="start start"
          [ngClass]="object.product.fields.discount ? 'doo-stroked-price' : ''">
          <span
            [innerHTML]="(object.variantPrice ? object.variantPrice : object.product.fields.price) | pricePipe">
          </span>
        </div>
        <span *ngIf="object.product.fields.discount && !object.variantPrice"
          [innerHTML]="object.product.fields.discount | pricePipe">
        </span>
      </div>

    </div>
    <div fxLayout="column" fxFlex="10" fxHide fxShow.gt-xs fxLayoutAlign="space-between">
      <span class="doo-cart-action doo-pointer">
        <mat-icon svgIcon="doo-close" (click)="removeFromCart()"></mat-icon>
      </span>
      <span class="doo-cart-action doo-pointer">
        <mat-icon class="fav-border" svgIcon="doo-favorite" *ngIf="!isFavorite" (click)="toggleFavorites(true)">
        </mat-icon>
        <mat-icon class="fav-fill" svgIcon="doo-favorite" *ngIf="isFavorite" (click)="toggleFavorites(false)">
        </mat-icon>
      </span>
    </div>
  </div>
</div>