<div      style="margin: 15px;"
          class="doo-category-card mat-elevation-z0"
          fxFlex 
          fxLayoutAlign="space-between" 
          fxLayout="column">
  <div fxLayout="column"  fxLayoutAlign="space-between">
    <div fxLayout="column" class = "selected-image-full doo-pointer">
        <mat-icon *ngIf = "showVariants" [ngClass] = "isFavorite ? 'fav-fill' : 'fav-border'" svgIcon = "doo-favorite" (click)="toggleFavorites(isFavorite)"></mat-icon>
        <div *ngIf = "object.fields.new" class = "new-label">
            {{'product.new' | translate}}
        </div>
      <div fxFlex style = "position: relative" class = "doo-pointer" (click)= "goToProduct()">
        <img  class = "full-width card-placeholder"
              style = "position: absolute"
              #cardImg
              [lazyLoad]="object?.fields.media[1].fields.file.url"
              [alt] = "object?.fields.media[1].fields.description"
              [defaultImage]="'assets/placeholders/placeholder-1.svg'">
              <img  *ngIf = "object?.fields.media.length > 1" 
              class = "full-width first-image card-placeholder"
              style = "position: absolute"
              #cardImg
              (onStateChange)="myCallbackFunction($event)"
              [lazyLoad]="object?.fields.media[0].fields.file.url"
              [alt] = "object?.fields.media[0].fields.description"
              [defaultImage]="'assets/placeholders/placeholder-1.svg'">
      </div>
    </div>
   
    <div fxLayout="column" 
         style = "padding-top: 100%">
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutAlign.xs="start" class = "product-name-label">
        {{object.fields.title}}
    </div>
    <div fxLayout="row" fxLayoutGap = "5px" *ngIf = "productReviews && showReviews" >
        <doo-review-stars [rate] = "rate" [editable] = "false"></doo-review-stars>
        <span class = "mat-caption">{{productReviews.length}}</span>
    </div>
    <div fxLayout="column" class = "mat-body color-variant" fxShow fxHide.xs
        *ngIf = "productVariants.get('color') && showVariants">
          <div fxLayout="row" fxLayoutAlign="star">
            <div *ngFor="let variant of productVariants.get('color')">
              <div [ngStyle]="{'background-color': variant.code}" class = "doo-color-box">
              </div>
            </div>
          </div>
    </div> 
      <div fxLayout="row" fxLayoutAlign="star" fxLayoutAlign.xs="start">
          <span *ngIf = "object.fields.discount" [innerHTML] = "object.fields.discount | pricePipe">
          </span>
        <span [ngClass] = "object.fields.discount ? 'doo-stroked-price' : ''" [innerHTML] = "object.fields.price | pricePipe">
            
        </span>

      </div>
    </div>
  </div>
</div>
