@import 'src/css/_variables.scss';

:host {
  height: 100%;
  width: 100%;
}

.doo-category-card {
  //height: 500px;
  ::ng-deep .doo-rate-icon {
      padding : 2px 2px;
      height: 15px;
      width: 15px;
    } 
}

.selected-image-full {
  position: relative;
  mat-icon {
    background: white;
    border-radius: 25px;
    padding: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
  }

  .fav-border {
    height: 20px;
    width: 20px;
    
    ::ng-deep .cls-1 {
      stroke: $accent;
    }
    ::ng-deep .cls-2 {
      stroke: $accent;
    }
  }

  .fav-fill {
    height: 20px;
    width: 20px;
    
    ::ng-deep .cls-1 {
      stroke: $accent;
      fill: $accent;
    }
    ::ng-deep .cls-2 {
      stroke: $accent;
      fill: $accent;
    }
  }
  .new-label {
    position: absolute;
    left: 0px;
    top: 0px;
    padding:5px 7px;
    z-index: 11;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    background: $primary;
  }
}

.first-image:hover {
  opacity: 0;
  transition: 300ms;
}

.color-variant {
  padding-bottom: 0px;
  //padding-top : 30px;
  .color-label{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .doo-color-box {
    min-width:10px;
    min-height:10px;
    margin:2px;
    border-radius: 25px;
    box-shadow: 0.5px 0.5px 5px;
    border-style: solid;
    border-color: $lighter-grey;
    padding: 3px;
  }

  .doo-color-box:hover {
    box-shadow: 0.5px 0.5px 10px;
    transition: 300ms;
  }

  ::ng-deep .mat-radio-checked {
    .doo-color-box {
      box-shadow: 1px 1px 15px;
    }
  }
}

::ng-deep .currency-label {
  font-size: 12px;
  opacity: 0.5;
}

.product-name-label {
  font-size: 16px;
  letter-spacing: 2px;
}

.card-placeholder {
  animation-duration: 1.5s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0.2;
  }
}