<div style="flex: 1 1 100%;min-height:100vh;" fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="center">
                <div fxLayout="column" fxFlex="80" fxFlex.lt-sm fxLayoutGap="30px" id="doo-shipping-form">
                        <div></div>
                        <div fxLayout="row" fxLayoutAlign="center" class="mat-display-1 doo-letter-space">
                                <span fxFlex fxFlex.lt-md="95">
                                        {{ 'cart.shippingTitle' | translate }}
                                </span>
                        </div>
                        <div class="doo-shipping-box doo-light-card" fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                        <span class="mat-subheading-1 doo-letter-space">{{ 'cart.contactAndAddress' | translate }}</span>
                                        <div (click)="openAddressModal()"
                                                class="mat-caption accent-color doo-pointer doo-underline">
                                                {{ 'profile.buttons.edit' | translate }}
                                        </div>
                                </div>
                                <doo-shipping-box (click)="openAddressModal()" class = "doo-pointer" fxFlex="50" [personalInfo]="userInfo" [address]="userAddressInfo"
                                        [editable]="true"></doo-shipping-box>
                        </div>

                        <div *ngIf="shippingOptions" [formGroup]="shippingMethodForm" fxLayout="column"
                                class="doo-shipping-box doo-light-card">
                                <div fxLayout="row">
                                        <mat-icon svgIcon="doo-box" color="accent"></mat-icon>
                                        <span class="mat-subheading-1 doo-letter-space">
                                                {{ 'cart.deliveryMethodTitle' | translate }}
                                        </span>
                                </div>

                                <mat-form-field appearance="outline" class="full-width doo-letter-space"
                                        color="primary">
                                        <mat-select #shippingMethod formControlName="shipping"
                                                (selectionChange)="setShippingMethod($event.value)" name="shipping">
                                                <mat-option *ngFor="let item of shippingOptions"
                                                        class="doo-letter-space" [value]="item.fields.name">
                                                        <span class="doo-option-text">{{item.fields.name}} -
                                                                {{item.fields.price ? (item.fields.price | pricePipe : true) : 'FREE'}}</span>
                                                </mat-option>
                                        </mat-select>
                                </mat-form-field>
                        </div>

                </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
                <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.lt-md="15px" fxFlex="80"
                        fxLayoutAlign="space-between">
                        <button color="primary" mat-flat-button class="doo-cta-btn" (click)="continueCheckout()">
                                {{ 'cart.continuePayment' | translate }}
                        </button>
                        <button color="accent" mat-button class="doo-cta-btn" [routerLink]="'/'">
                                <mat-icon class="doo-accent-icon" svgIcon="doo-arrow-left"></mat-icon>
                                {{ 'cart.stillShopping' | translate }}
                        </button>

                </div>
        </div>
        <div></div>
</div>