   <div fxLayout = "column" fxLayoutGap = "20px" [formGroup]="shippingInfo">
     <div fxLayout = "row" fxLayoutAlign = "center">
        <div fxLayout = "column" fxFlex = "80" fxLayoutGap="10px" id = "doo-shipping-form"> 
                <div></div> 
                <div fxLayout = "column">
                <span class = "mat-subheading-2">
                        {{'profile.address.enterShippingAddress' | translate}}
                </span>
                <doo-address-form #addressForm [mode] = "'NotalwaysOpen'" [userAddressInfo] = "userAddressInfo" (addressFormEmitter)="addressUpdate($event)"></doo-address-form>

                        <span class = "mat-subheading-2">
                                Contact info
                        </span>
                <div fxLayout = "row" fxLayout.xs = "column" fxLayoutAlign = "space-between">
                                <mat-form-field fxFlex = "48" appearance="outline" class="full-width">
                                <mat-label>{{ 'profile.account.firstName' | translate }}</mat-label>
                                <input  formControlName="firstName"
                                        autocomplete="firstName"
                                        [errorStateMatcher]="matcher" 
                                        matInput 
                                        name="firstName" 
                                        placeholder=""
                                        type="text"/>
                                        <mat-error *ngIf="shippingInfo.controls['firstName'].invalid">{{'errors.required' | translate}}</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex = "48" appearance="outline" class="full-width">
                                <mat-label>{{ 'profile.account.lastName' | translate }}</mat-label>
                                <input  formControlName="lastName"
                                        autocomplete="lastName"
                                        [errorStateMatcher]="matcher" 
                                        matInput 
                                        name="lastName" 
                                        placeholder=""
                                        type="text"/>
                                        <mat-error *ngIf="shippingInfo.controls['lastName'].invalid">{{'errors.required' | translate}}</mat-error>
                                </mat-form-field>
                </div>
                <div fxLayout = "row" fxLayout.xs = "column" fxLayoutAlign = "space-between" class = "doo-bottom-border">
                        <mat-form-field fxFlex = "48" appearance="outline" class="full-width phone-field">
                                <span matPrefix>CA (+1) &nbsp;</span>
                                <input  formControlName="phone"
                                        autocomplete="phone" 
                                        matInput 
                                        name="phone" 
                                        placeholder="{{ 'profile.account.mobile' | translate }}"
                                        type="tel"/>
                        </mat-form-field>
                        <mat-form-field fxFlex = "48" appearance="outline" class="full-width">
                                <mat-label>{{ 'profile.account.email' | translate }}</mat-label>
                                <input  formControlName="email"
                                        autocomplete="email"
                                        [errorStateMatcher]="matcher" 
                                        matInput 
                                        name="email" 
                                        placeholder="{{ 'profile.account.email' | translate }}"
                                        type="text"/>
                                        <mat-error *ngIf="shippingInfo.controls['email'].invalid">{{'errors.required' | translate}}</mat-error>
                        </mat-form-field>
                </div>
                        
                        <span class = "mat-subheading-2">
                                Choose delivery method
                        </span>
                                        <mat-form-field appearance="outline" class="doo-bottom-border full-width" color = "primary">
                                                <mat-label>Shipping Method</mat-label>
                                                <mat-select formControlName="shipping"
                                                            (selectionChange) = "setShippingMethod($event.value)" 
                                                            name="shipping" >
                                                                <mat-option *ngFor="let item of shippingOptions" [value]="item">
                                                                        {{item.fields.name}} - {{item.fields.price ? (item.fields.price | pricePipeSimple) : 'FREE'}}
                                                                </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="shippingInfo.controls['shipping'].invalid">{{'errors.required' | translate}}</mat-error>
                                            </mat-form-field>
                </div>
                
        </div>  
    </div>   
    <div fxLayout = "row" fxLayoutAlign = "center">
                <button color = "primary" 
                        mat-flat-button 
                        class = "doo-checkout-btn"
                        (click) = "continueToCheckout()">
                        {{'cart.continueCheckout' | translate}}
                </button>
    </div>
</div>