<div fxLayoutGap="20px" fxLayout="column" class="doo-profile-overview">
        <div fxLayout="row" fxLayoutGap="20px">
                <button class="overview-btn" fxFlex="50" color="accent" [routerLink]="'/account/orders'"
                        mat-stroked-button>
                        <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon svgIcon="doo-basket"></mat-icon><span class = "doo-uppercase">{{'profile.orders.orders' | translate }}</span>
                        </div>

                </button>
                <button class="overview-btn" fxFlex="50" color="accent" [routerLink]="'/account/favorites'"
                        mat-stroked-button>
                        <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon svgIcon="doo-favorite"></mat-icon><span class = "doo-uppercase">{{'profile.favorites.favorites' | translate }}</span>
                        </div>
                </button>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
                <button class="overview-btn" fxFlex="50" color="accent" [routerLink]="'/account/profile'"
                        mat-stroked-button>
                        <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon svgIcon="doo-profile"></mat-icon><span class = "doo-uppercase">{{'profile.profile' | translate }}</span>
                        </div>

                </button>
                <button class="overview-btn" fxFlex="50" color="accent" [routerLink]="'/account/addressinfo'"
                        mat-stroked-button>
                        <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon svgIcon="doo-location"></mat-icon><span class = "doo-uppercase">{{'profile.addresses' | translate }}</span>
                        </div>
                </button>
        </div>
</div>