<div fxLayout="row" fxLayoutAlign="center">
    <div *ngIf="cart" fxLayout="column" fxLayoutGap="20px" class="doo-order-success full-width max-width">
        <div fxLayout="row" class="mat-display-1">
            {{'cart.successTitle' | translate}}
        </div>
        <div fxLayout="column" class="doo-order-summary" fxLayoutGap="20px">
            <div fxLayout="row" fxLayoutGap="20px">
                <div class="mat-subheading-1">
                    {{'cart.orderedOn' | translate}} {{cart.cart.date | date}}
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="mat-subheading-1">
                    {{'cart.yourOrderNumber' | translate}} <span
                        class="doo-order-number">{{route.snapshot.params["order"]}}</span>
                </div>
            </div>
            <div class="mat-subheading-1">
                {{'cart.successContent' | translate : {'email':cart.personalInfo.email} }}
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <button color="primary" [routerLink]="'/account/orders/' + route.snapshot.params['order']"
                    mat-flat-button class="doo-checkout-btn">
                    {{'cart.trackOrderBtn' | translate}}
                </button>
            </div>
        </div>
        <span class="mat-headline doo-letter-space">
            {{'cart.orderDetails' | translate}}
        </span>
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center">
                <div fxLayout="column" fxFlex.gt-md="80" fxFlex>
                    <doo-cart-items [cartItems]="cartItems"></doo-cart-items>
                </div>
            </div>
            <span class="mat-headline doo-letter-space">
                {{'cart.shippingAndPayment' | translate}}
            </span>
            <div fxLayout.lt-md="column" fxLayout="row" fxLayoutGap="30px">
                <doo-shipping-box fxFlex="50" [personalInfo]="cart.personalInfo" [address]="cart.address"
                    [shipping]="cart.shipping"></doo-shipping-box>

                <div fxLayout="column" fxFlex="50" fxLayoutGap="30px" class="doo-cart-summary">
                    <div fxLayout="column">
                        <div class="mat-subheading-2">{{'cart.paymentMethod' | translate}}</div>
                        <div *ngIf="cart.method == 'card'" fxLayout="row" class="accepted-cards" fxLayoutGap="10px">
                            <mat-icon svgIcon="doo-visa"></mat-icon>
                            <mat-icon svgIcon="doo-mastercard"></mat-icon>
                            <mat-icon svgIcon="doo-amex"></mat-icon>
                            <mat-icon svgIcon="doo-discover"></mat-icon>
                            <div class="mat-subheading-1 doo-letter-space">
                                {{'cart.hashedLast4' | translate : {'last4':cart.last4} }}</div>
                        </div>
                        <div *ngIf="cart.method == 'paypal'" fxLayout="row">
                            <mat-icon fxFlex="25" svgIcon="paypal" inline="true"></mat-icon>
                        </div>
                    </div>
                    <div fxLayout="column" class="doo-bottom-border">
                        <div fxLayout="row" class="mat-subheading-1" fxLayoutAlign="space-between">
                            <span class="doo-letter-space">{{'cart.subtotal' | translate}}</span>
                            <span [innerHTML]="cart.cart.total | pricePipe">
                            </span>
                        </div>
                        <div fxLayout="row" class="mat-caption" fxLayoutAlign="space-between">
                            <span class="doo-letter-space">{{'cart.shippingTitle' | translate}}</span>
                            <span [innerHTML]="cart.cart.shippingCost ? (cart.cart.shippingCost | pricePipe) : 'FREE'">
                            </span>
                        </div>
                        <div fxLayout="row" *ngIf="cart.cart.primaryTax" class="mat-caption"
                            fxLayoutAlign="space-between">
                            <span class="doo-letter-space">{{siteSettings.fields.primaryTax}}</span>
                            <span [innerHTML]="cart.cart.primaryTax ? (cart.cart.primaryTax | pricePipe) : 'FREE'">
                            </span>
                        </div>
                        <div fxLayout="row" *ngIf="cart.cart.secondaryTax" class="mat-caption"
                            fxLayoutAlign="space-between">
                            <span class="doo-letter-space">{{siteSettings.fields.secondaryTax}}</span>
                            <span [innerHTML]="cart.cart.secondaryTax ? (cart.cart.secondaryTax | pricePipe) : 'FREE'">
                            </span>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between" style="padding: 15px 0px;">
                        <span
                            class="mat-subheading-1 doo-letter-space doo-uppercase">{{'cart.total' | translate}}</span>
                        <span class="mat-title" [innerHTML]="cart.cart.grandTotal | pricePipe">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div fxLayout="column">
    <div [ngSwitch]="block.sys.contentType?.sys.id" *ngFor="let block of successPageContent?.fields.blocks">
        <doo-widgets *ngSwitchCase="'widget'" [widget]="block">
        </doo-widgets>
        <doo-block-layouts *ngSwitchCase="'block'" [block]="block">
        </doo-block-layouts>
    </div>
</div>