@import 'src/css/_variables.scss';
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .doo-overview-title {
    padding-bottom: 20px;
  }

  .doo-orders-actions {
    border-top: solid 2px $light-grey;
    padding-top : 20px;
    padding-bottom: 20px !important; 
  }

  .mat-card-actions .mat-button {
    margin : 0 0px;
  }

  .doo-arrow-btn{
    &.disabled{
      background: $lighter-grey;
      mat-icon {
        opacity: 0.4;
      }
    }
    border: solid 1px $light-grey;
  }

  /* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin: 0 50px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: $light-grey;
  top: 0;
  bottom: 0;
  left: 30px;
  margin-left: -50px;
}

.container {
  position: relative;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -17px;
  background-color: $light-grey;
  border: 2px solid $lighter-grey;
  top: 0px;
  border-radius: 50%;
  z-index: 1;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -28px;
}