@import 'src/css/_variables.scss';
@import 'src/css/_dashboard.scss';
  
  .doo-avatar {
    background-image: url('/assets/placeholders/avatar.png');
    background-size: cover;
  }

  .doo-overview-title {
    padding-bottom: 20px;
  }

  .doo-orders-actions {
    border-top: solid 2px $light-grey;
    padding-top : 20px;
    padding-bottom: 20px !important; 
  }

  .mat-card-actions .mat-button {
    margin : 0 0px;
  }

  .doo-arrow-btn{
    &.left {
      border-bottom-left-radius: 25px !important;
      border-top-left-radius: 25px !important;
    }
    &.right {
      border-bottom-right-radius: 25px !important;
      border-top-right-radius: 25px !important;
    }
    &.disabled{
      background: $lighter-grey;
      mat-icon {
        opacity: 0.4;
      }
    }
    padding: 5px;
    border: solid 1px $light-grey;
  }
