@import 'src/css/_variables.scss';
@import 'src/css/contentful.scss';

.doo-overlay-box{
    position:absolute;
    text-align: center;
    color:white;
}

.doo-cta-btn{
    padding: 10px 25px;
    font-size: 14px;
}

.mat-display-3{
    font-weight: 900;
    letter-spacing: 4px;
    color: white;
}

.post-placeholder {
    margin:15px;
    animation-duration: 1.5s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes fade {
    from {
      opacity: 0.5;
    }
  
    to {
      opacity: 0.2;
    }
  }