@import 'src/css/_variables.scss';
@import 'src/css/contentful.scss';

.doo-overlay-box{
    position:absolute;
    text-align: center;
    color:white;
}

.doo-cta-btn{
    padding: 10px 25px;
    font-size: 14px;
}

.mat-display-3{
    font-weight: 900;
    letter-spacing: 4px;
    color: white;
}