<div fxLayout = "row" fxFlex style = "position:relative;" fxLayoutAlign = "center center">
    <div fxLayout = "column" fxLayoutGap = "30px" class = "doo-overlay-box  doo-contentful" fxLayoutAlign = "center center">
        
                <div class = "doo-cta-content" [innerHTML] = "post.fields.content | richTextPipe">
                </div>
                    <div fxLayoutGap = "20px">
                           <button *ngFor = "let cta of post.fields.actions" 
                                    color = "primary" 
                                    mat-flat-button 
                                    class = "doo-cta-btn">
                                    {{cta.fields.name}}
                            </button>
                    </div>
        

    </div>
    <div fxLayout = "row" fxFlex = "90" fxLayoutAlign = "center" >
            <img #postImg  class = "full-width doo-pointer post-placeholder"
                [lazyLoad]="post.fields.media[0].fields.file.url"
                [defaultImage]="'assets/placeholder-1.svg'"
                (onStateChange)="myCallbackFunction($event)">
    </div>
</div>
